<section class="page-section" style="padding-bottom: 50px;">
    <div class="container section-heading" style="margin-top: 100px;">
        <div class="row">
            <button type="button" class="btn back-btn mt-3" (click)="backClicked()">
                <i class="fa-solid fa-arrow-left me-3"></i>Go Back
            </button>
        </div>
        <div class="row">
            <h1>How to Answer "What Is Your Greatest Strength"?</h1>
        </div>
        <div class="row">
            <p class="history-text">5 months ago</p>
        </div>
        <div class="row">
            <img src="../../../assets/img/blog/section-heading.png">
        </div>
    </div>
</section>

<section class="page-section pt-0">
    <div class="container pb-4 w-50">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                      <h1 class="card-title">Heading</h1>
                      <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                      </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                      <h1 class="card-title">Heading</h1>
                      <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                      </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                      <h1 class="card-title">Heading</h1>
                      <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                      </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <img src="../../../assets/img/blog/blog-full.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                      <h1 class="card-title">Heading</h1>
                      <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                      </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                      <h1 class="card-title">Takeaway</h1>
                      <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                      </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page-section pt-0">
    <div class="container pb-4">
        <div class="row blog-line">
            <div class="col">
                <h1>Recommended</h1>
            </div>
        </div>
        <div class="row mt-3 recommended">
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <img src="../../../assets/img/blog/card_remotestaffing.png">
                      <h5 class="card-text">Insert Blog Title Here</h5>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <img src="../../../assets/img/blog/card_drafting.png">
                      <h5 class="card-text">Insert Blog Title Here</h5>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <img src="../../../assets/img/blog/card_additionalservices.png">
                      <h5 class="card-text">Insert Blog Title Here</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>