.navbar-nav li a {
    color: white !important;
}

.dropdown button {
    border: none;
    color: white;
    font-weight: normal;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.dropdown-item {
    border-bottom: 2px solid #6A6A6A !important;
    width: 70%;
    margin: auto;
}

div.dropdown-menu.show {
    position: absolute;
    width: 300px;
    background: #F1F1F1;
}
  
.dropdown-item:hover {
    background-color: #e9ecef !important;
}

a.nav-link.nav-title:hover {
    cursor: pointer;
}