
.contact-submit-btn {
  padding: 12.5px 0px;
  gap: 25px;
  width: 296px;
  height: 48px;
  left: calc(50% - 296px/2 + 488px);
  top: 245px;
  background: #9BE651;
  border-radius: 5px;
  color: white;
}

p, h4 {
  font-family: 'ABeeZee' !important;
  margin: 0 !important;
}

p {
  cursor: pointer;
}

.footer-comm {
  text-align: end;
}

.section-01 {
  text-align: start;
}

@media only screen and (max-width: 600px) {
  .footer-comm, .section-01 {
      text-align: center;
  }
}