<section class="page-section" id="contact">
    <div class="container">
        <div class="row" style="margin: 5rem 0;">
          <div class="col section-01">
            <img src="../../../assets/img/logos/vww-logo-white.png">
            <div class="row">
              <div class="col-md-4 col-sm-12 mt-4">
                <p routerLink="/candidates/info">Candidates</p>
              </div>
              <div class="col-md-4 col-sm-12 mt-4">
                <p routerLink="/employers/info">Employers</p>
              </div>
              <div class="col-md-4 col-sm-12 mt-4">
                <p routerLink="/about">Company</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 col-sm-12 mt-4">
                <p routerLink="/candidates/search">Why Apply</p>
              </div>
              <div class="col-md-4 col-sm-12 mt-4">
                <p routerLink="/employers/services">Why Work For Us</p>
              </div>
              <div class="col-md-4 col-sm-12 mt-4">
                <p routerLink="/about">About Us</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 col-sm-12 mt-4">
                <p routerLink="/candidates/search">Search Jobs</p>
              </div>
              <div class="col-md-4 col-sm-12 mt-4">
                <p routerLink="/employers/services">Employer Services</p>
              </div>
              <div class="col-md-4 col-sm-12 mt-4">
                <p routerLink="/contact">Contact</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 col-sm-12 mt-4">
                <p routerLink="/employers/pricing">Pricing</p>
              </div>
            </div>
          </div>
          <div class="col footer-comm">
            <div class="row" style="padding-top: 85px;">
              <div class="col">
                <h4>Join Our Contractor Community on Facebook!</h4>
              </div>
              <div class="container mt-4">
                <a href="https://www.facebook.com/groups/263877431523726" target="_blank"><button type="button" class="btn contact-submit-btn">Join Group</button></a>
              </div>
              <div class="container mt-4">
                <p>Follow us on social media</p>
              </div>
              
              <div class="container mt-4">
                <a href="https://www.facebook.com/virtualworkworld/" target="_blank"><img src="../../../assets/img/logos/Facebook.png" class="me-3"></a>
                <a href="https://www.linkedin.com/company/virtualworkworld/" target="_blank"><img src="../../../assets/img/logos/Linkedin.png" class="me-3"></a>
                <a href="https://www.instagram.com/virtualworkworld/?hl=en" target="_blank"><img src="../../../assets/img/logos/Instagram.png" class="me-3"></a>
              </div>
            </div>
          </div>
        </div>
    </div>
  </section>