<section class="page-section" id="contact">
    <div class="container">
        <div class="row" style="margin: 5rem 0;">
          <div class="col" style="text-align: start;">
            <img src="../../../assets/img/logos/vww-logo-white.png">
            <div class="row mt-4">
              <div class="col">
                <p>Candidates</p>
              </div>
              <div class="col">
                <p>Employers</p>
              </div>
              <div class="col">
                <p>Company</p>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col">
                <p>Why apply</p>
              </div>
              <div class="col">
                <p>Why work for us</p>
              </div>
              <div class="col">
                <p>About Us</p>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col">
                <p>Search Jobs</p>
              </div>
              <div class="col">
                <p>Employer services</p>
              </div>
              <div class="col">
                <p>Blog</p>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col">
              </div>
              <div class="col">
                <p>Pricing</p>
              </div>
              <div class="col">
                <p>Contact</p>
              </div>
            </div>
          </div>
          <div class="col" style="text-align: end;">
            <div class="row" style="padding-top: 85px;">
              <div class="col">
                <h4>Join Our Community on Facebook!</h4>
              </div>
              <div class="container mt-4">
                <button type="button" class="btn contact-submit-btn">Join Group</button>
              </div>
              <div class="container mt-4">
                <p>Follow us on social media</p>
              </div>
              
              <div class="container mt-4">
                <a href="https://www.facebook.com/virtualworkworld/" target="_blank"><img src="../../../assets/img/logos/Facebook.png" class="me-3"></a>
                <a href="https://www.linkedin.com/company/virtualworkworld/" target="_blank"><img src="../../../assets/img/logos/Linkedin.png" class="me-3"></a>
                <a href="https://www.instagram.com/virtualworkworld/?hl=en" target="_blank"><img src="../../../assets/img/logos/Instagram.png" class="me-3"></a>
              </div>
            </div>
          </div>
        </div>
    </div>
  </section>