<nav class="navbar job-nav">
  <div class="container job-title-desc">
    <!-- style="margin-top: 8rem;" -->
    <div class="container text-center job-title mb-1">
      <h3>Creative & Marketing</h3>
    </div>
  </div>
</nav>
<div class="container job-header">
  <div class="container vertical-center">
    <div class="row">
      <i class="fas fa-map-marker-alt fa-3x" style="width: 4%;"></i>
      <div class="col-sm border-end">
        <div class="row" style="padding-left: 12px;">
          Location
        </div>
        <div class="row">
          <b>Ontario, Canada</b>
        </div>
      </div>
      <div class="col-sm border-end">
        <div class="row">
          <i class="fa-solid fa-dollar-sign fa-3x" style="width: 10%;"></i>
          <div class="col-sm border-end">
            <div class="row" style="padding-left: 12px;">
              Salary
            </div>
            <div class="row">
              <b>500</b>
            </div>
        </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="row">
          <i class="fas fa-calendar-alt fa-3x" style="width: 15%;"></i>
          <div class="col-sm">
            <div class="row" style="padding-left: 12px;">
              Date Posted
            </div>
            <div class="row">
              <b>Jan 01, 2022</b>
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container job-overview mt-5 mb-5">
  <div class="container text-start mt-3 border-bottom">
    <div class="row mb-2">
      <div class="col-1" style="width: 4%;">
        <i class="fas fa-file-alt fa-2x"></i>
      </div>
      <div class="col-11">
        <h4>JOB OVERVIEW</h4>
      </div>
    </div>
  </div>
  <div class="container mt-4">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Est blanditiis dolorem culpa incidunt minus dignissimos deserunt 
      repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores
      repudiandae, nostrum, reiciendis facere nemo!
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Est blanditiis dolorem culpa incidunt minus dignissimos deserunt 
      repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores
      repudiandae, nostrum, reiciendis facere nemo!
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Est blanditiis dolorem culpa incidunt minus dignissimos deserunt 
      repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores
      repudiandae, nostrum, reiciendis facere nemo!
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Est blanditiis dolorem culpa incidunt minus dignissimos deserunt 
      repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores
      repudiandae, nostrum, reiciendis facere nemo!
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Est blanditiis dolorem culpa incidunt minus dignissimos deserunt 
      repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores
      repudiandae, nostrum, reiciendis facere nemo!
    </p>
  </div>
</div>
<div class="container job-overview mt-5 mb-5">
  <div class="container text-start mt-3 border-bottom">
    <div class="row mb-2">
      <div class="col-1" style="width: 4%;">
        <i class="fas fa-clipboard-list fa-2x"></i>
      </div>
      <div class="col-11">
        <h4>SKILL SUMMARY</h4>
      </div>
    </div>
  </div>
  <div class="container mt-4">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Est blanditiis dolorem culpa incidunt minus dignissimos deserunt 
      repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores
      repudiandae, nostrum, reiciendis facere nemo!
    </p>
</div>
