<app-header></app-header>
<section class="page-section  ">
  <div class="container text-center section-heading">
      <div class="row">
          <div class="col">
              <h1>Meet the team</h1>
          </div>
      </div>
      <div class="row mt-4">
          <div class="team-member">
              <img class="mx-auto rounded-circle" src="assets/img/team/jisselle.jpeg" alt="..." />
              <h4>Jisselle Baldwin-Todd</h4>
          </div>
      </div>
  </div>
</section>

<section class="page-section mb-5" style="margin-top: 100px;">
  <div class="container" style="width: 50%;">
      <div class="row">
          <div class="col">
              <div class="card text-center" style="background-color: #FEEFBC; border: none;">
                  <div>
                      <img src="assets/img/utilities/Polygon_2.png" style="margin-top: -45px;"/>
                  </div>
                  <div class="card-body">
                      <h1>Hey! It's great to have you here. I'm Jisselle, the Founder of Virtual Work World, and I work remotely from the Caribbean.</h1>
                  </div>
                </div>
          </div>
      </div>
      <div class="row mt-4">
          <div class="col">
              <div class="card" style="border: none;">
                  <div class="card-body">
                      <h5>
                          The remote recruitment world is a horror scene. Culture clashes, missed potential, and recruitment companies that take a percentage of employee earnings. 
                          <br><br>
                          A business relationship needs the same foundation as any relationship. Connection, compatibility and a commitment to do the best for one another. 
                      </h5>
                  </div>
                </div>
          </div>
      </div>
      <div class="row mt-4">
          <div class="col">
              <div class="card text-center" style="background-color: #FBCBFF; border: none;">
                  <div>
                      <img src="assets/img/utilities/Polygon_3.png" style="margin-top: -45px;"/>
                  </div>
                  <div class="card-body">
                      <h1>
                          I've worked in the corporate world for 17 years, and I've seen some things that have made me sad (and squirm!).
                      </h1>
                  </div>
                </div>
          </div>
      </div>
      <div class="row mt-4">
          <div class="col">
              <div class="card" style="border: none;">
                  <div class="card-body">
                      <h5>
                          An overworked workforce, undervalued teams, a lack of processes and worst of all, injustice. It's even worse for remote workers, and that's not a world I want to live in. That's why I founded Virtual Work World, to give remote workers, rights. 
                          <br><br>
                          I've worked across Customer Success, Recruitment, Marketing and Digital Growth for over 15 years, led global support teams and marketing for award-winning brands and consulted for many companies internationally, so I know how vital it is for businesses to get the best talent and tech as their key pillars of strength. I have built and managed teams in Brazil, El Salvador, India, the Philippines, Jamaica, Trinidad & Tobago, Mexico, the US, the UK, and Canada. With my 14 years’ experience in scaling global teams, I not only find your talent, but match you with the best candidate to suit your business needs and budget. 
                          <br><br>
                          Nothing makes me happier than helping others achieve their career dreams (that, and time spent with my three quirky children).
                      </h5>
                  </div>
                </div>
          </div>
      </div>
      <div class="row mt-4">
          <div class="col">
              <div class="card text-center" style="background-color: #FEEFBC; border: none;">
                  <div>
                      <img src="assets/img/utilities/Polygon_2.png" style="margin-top: -45px;"/>
                  </div>
                  <div class="card-body">
                      <h1>But a company is only as good as the team behind it, which is why I want you to meet mine.</h1>
                  </div>
                </div>
          </div>
      </div>
  </div>
  <div class="container mt-4" style="max-width: 1400px;">
      <div class="row text-center">
        <div id="descriptionCarousel" class="carousel slide" data-bs-ride="true">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#descriptionCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#descriptionCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#descriptionCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#descriptionCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#descriptionCarousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
          </div>

          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row align-items-start">
                  <div class="card">
                      <div class="card-body">
                        <div class="row pt-4" style="margin: 0!important;">
                          <div class="col-4">
                              <div class="team-member">
                                  <img class="mx-auto rounded-circle" src="assets/img/team/GL.png" alt="..." />
                              </div>
                          </div>
                          <div class="col-8">
                              <h2>Hey, I'm Endghiel Bal (but you can call me GL). I'm the Operations Supervisor, working remotely from the Philipinnes.</h2>
                              <p>
                                  I oversee and manage our growing operations here at Virtual Work World, but I also help with recruitment too.
                                  I have worked in the Customer Success industry for over 8 years now,
                                  so I understand the challenges businesses and their teams face. 
                              </p>
                          </div>
                        </div>
                      </div>
                  </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row align-items-start">
                  <div class="card">
                      <div class="card-body">
                      <div class="row pt-4" style="margin: 0!important;">
                          <div class="col-4">
                              <div class="team-member">
                                  <img class="mx-auto rounded-circle" src="assets/img/team/1.jpg" alt="..." />
                              </div>
                          </div>
                          <div class="col-8">
                              <h2>Hey, I'm Ardy! I'm a Recruiter and Trainer here at Virtual Work World, working remotely from the Philippines.</h2>
                              <p>
                                  I love to help candidates make the most of their portfolios so they can get the jobs they want. 
                                  I use my 15 years' worth of experience in Customer Support, Tech and Sales to help employees happily transition into their roles. 
                                  <br><br>
                                  I love working at Virtual Work World because it's all about the people.
                                   Not only do I get to help others, but I also get a great work/life balance too. Oh, and I don't have to wear pants.  
                              </p>
                          </div>
                        </div>
                      </div>
                  </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row align-items-start">
                  <div class="card">
                      <div class="card-body">
                      <div class="row pt-4" style="margin: 0!important;">
                          <div class="col-4">
                              <div class="team-member">
                                  <img class="mx-auto rounded-circle" src="assets/img/team/jonald.jpg" alt="..." />
                              </div>
                          </div>
                          <div class="col-8">
                              <h2>Hey there, I'm Jonald your cool and friendly Recruiter, and I'm excited to be connecting with you in this virtual world!</h2>
                              <p> 
                                  I've been in the HR industry for over 6 years, working with different organizations across various industries. My passion lies in helping people find their dream jobs, and that's what led me to specialize in talent acquisition and management.
                                  I absolutely love the virtual work world because it offers endless opportunities for professionals to connect and collaborate, no matter where they are in the world. As someone who's worked remotely for a significant part of my career, I understand the unique challenges and benefits that come with virtual work. That's why I'm always looking for ways to create a supportive and engaging virtual work environment for all employees.
                                  And here's a fun fact about me - I'm a big fan of trivia nights! I love gathering with friends and colleagues and testing our knowledge on random topics. So, if you ever need a teammate for a trivia game, you know who to call!

                              </p>
                          </div>
                        </div>
                      </div>
                  </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row align-items-start">
                  <div class="card">
                      <div class="card-body">
                      <div class="row pt-4" style="margin: 0!important;">
                          <div class="col-4">
                              <div class="team-member">
                                  <img class="mx-auto rounded-circle" src="assets/img/team/1.jpg" alt="..." />
                              </div>
                          </div>
                          <div class="col-8">
                              <h2>Hey, I’m Jess. I’m a Copywriter and Content Writer, working remotely from the UK, in a VERY remote place called Devon.</h2>
                              <p> 
                                  Seriously, my neighbours are cows. I love the power of words; how they can motivate, empower and inspire others,
                                  and I use mine here with Virtual Work World to help brands connect to their employees and customers. 
                                  <br><br>
                                  I’ve worked in Marketing for 9 years, and I’ve written words for many brands including international ones like 
                                  Water Babies and Kendamil. The best thing about working with Virtual Work World? I get to work with anyone, anywhere,
                                  and I can snack without shame (usually on a Tony’s Chocolonely bar. Chocolate is brain food). But unlike Ardy, I do wear pants, although they are always pyjamas.
                              </p>
                          </div>
                        </div>
                      </div>
                  </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row align-items-start">
                  <div class="card">
                      <div class="card-body">
                      <div class="row pt-4" style="margin: 0!important;">
                          <div class="col-4">
                              <div class="team-member">
                                  <img class="mx-auto rounded-circle" src="assets/img/team/shy.jpg" alt="..." />
                              </div>
                          </div>
                          <div class="col-8">
                              <h2>Hey, I’m Shy. I’m the Start-up Strategist here at Virtual Work World, working remotely from the Philippines.</h2>
                              <p> 
                                  In my role, I help start-ups build teams and structures to scale and grow their businesses.
                                  I have 10 years’ worth of experience in the BPO industry, working for companies in financial institutions like JP Morgan & Chase,
                                  Citibank and Remitly. 
                                  <br><br>
                                  I have extensive training in customer success training, operations management, 
                                  and a passion for helping build brands from the ground up! I love working at Virtual Work World because of the culture.
                                   Everyone has so much compassion and really cares about their customer. Every time I tell a candidate “Congratulations.
                                  You got the job!” I feel like I just got it too!  When I’m not working, you’ll find me trying out a new recipe in the kitchen, or watching movies (sometimes for 24 hours straight), or playing DOTA 2.
                              </p>
                          </div>
                        </div>
                      </div>
                  </div>
              </div>
            </div>
          </div>
  
          <button class="carousel-control-prev" type="button" data-bs-target="#descriptionCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#descriptionCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
    </div>
  </div>
</section>
<app-footer></app-footer>