<section class="page-section" style="padding-bottom: 50px;">
    <div class="container section-heading" style="margin-top: 100px;">
        <div class="row">
            <button type="button" class="btn back-btn mt-3" (click)="backClicked()">
                <i class="fa-solid fa-arrow-left me-3"></i>Go Back
            </button>
        </div>
        <div class="row">
            <h1>Business Development Manager</h1>
        </div>
        <div class="row">
            <p class="history-text">5 months ago</p>
        </div>
        <div class="row">
            <div class="col p-0">
              <button type="button" class="btn apply-btn">Apply
                <img src="../../../assets/img/utilities/arrow-right-white.png">
            </button>
            </div>
        </div>
    </div>
</section>

<section class="page-section p-0">
    <div class="container">
        <div class="row">
            <div class="col-8">
                <div class="card jobs-details">
                    <div class="card-body">
                        <h5 class="card-title">Overview</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    </div>
                </div>
                <div class="card jobs-details">
                    <div class="card-body">
                        <h5 class="card-title">The Company</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    </div>
                </div>
                <div class="card jobs-details">
                    <div class="card-body">
                        <h5 class="card-title">Responsibilites</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    </div>
                </div>
                <div class="card jobs-details">
                    <div class="card-body">
                        <h5 class="card-title">Benefits</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    </div>
                </div>
                <div class="card jobs-details">
                    <div class="card-body">
                        <h5 class="card-title">Requirements</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    </div>
                </div>
                <div class="card jobs-details">
                    <div class="card-body">
                        <h5 class="card-title">Hours</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                      <button type="button" class="btn apply-btn">Apply
                        <img src="../../../assets/img/utilities/arrow-right-white.png">
                    </button>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="row">
                        <div class="col text-center pt-4 pb-4">
                            <img src="../../../assets/img/candidates/jobs-010.png" style="width: auto;">
                        </div>
                    </div>
                    <div class="card-body jobs-desc">
                        <div class="row">
                            <h5 class="card-title">COMPANY</h5>
                            <p class="card-text">Best Company Ever</p>
                        </div>
                        <div class="row">
                            <h5 class="card-title">LOCATION</h5>
                            <p class="card-text">Ontario, Canada</p>
                        </div>
                        <div class="row">
                            <h5 class="card-title">JOB TYPE</h5>
                            <p class="card-text">Full Time</p>
                        </div>
                        <div class="row">
                            <h5 class="card-title">JOB LEVEL</h5>
                            <p class="card-text">Manager</p>
                        </div>
                        <div class="row">
                            <h5 class="card-title">JOB CATEGORY</h5>
                            <p class="card-text">Management</p>
                        </div>
                        <div class="row">
                            <h5 class="card-title">SALARY</h5>
                            <p class="card-text">$3,200 per month</p>
                        </div>
                        <div class="row">
                            <h5 class="card-title">HOURS</h5>
                            <p class="card-text">Flexible</p>
                        </div>
                    </div>
                  </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col">
                <h1>Recommended</h1>
            </div>
        </div>
        <div class="row mt-3">
            <div class="card recommended-card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-2 text-center pt-1">
                            <img src="../../../assets/img/candidates/jobs-001.png">
                        </div>
                        <div class="col-9">
                            <div class="row">
                                <h3>Content Moderator<img src="../../../assets/img/utilities/dot.png">Full Time</h3>
                            </div>
                            <div class="row">
                                <h5>Company name <img src="../../../assets/img/utilities/dot.png"> Location <img src="../../../assets/img/utilities/dot.png"> $000/month</h5>
                            </div>
                            <div class="row">
                                <p>5 Months ago</p>
                            </div>
                        </div>
                        <div class="col-1 text-center" style="-webkit-writing-mode: vertical-rl;">
                            <img src="../../../assets/img/utilities/arrow-right.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="card recommended-card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-2 text-center pt-1">
                            <img src="../../../assets/img/candidates/jobs-002.png">
                        </div>
                        <div class="col-9">
                            <div class="row">
                                <h3>Administrative Assistant<img src="../../../assets/img/utilities/dot.png">Full Time</h3>
                            </div>
                            <div class="row">
                                <h5>Company name <img src="../../../assets/img/utilities/dot.png"> Location <img src="../../../assets/img/utilities/dot.png"> $000/month</h5>
                            </div>
                            <div class="row">
                                <p>5 Months ago</p>
                            </div>
                        </div>
                        <div class="col-1 text-center" style="-webkit-writing-mode: vertical-rl;">
                            <img src="../../../assets/img/utilities/arrow-right.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3 mb-5">
            <div class="card recommended-card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-2 text-center pt-1">
                            <img src="../../../assets/img/candidates/jobs-003.png">
                        </div>
                        <div class="col-9">
                            <div class="row">
                                <h3>Customer Care Agent<img src="../../../assets/img/utilities/dot.png">Full Time</h3>
                            </div>
                            <div class="row">
                                <h5>Company name <img src="../../../assets/img/utilities/dot.png"> Location <img src="../../../assets/img/utilities/dot.png"> $000/month</h5>
                            </div>
                            <div class="row">
                                <p>5 Months ago</p>
                            </div>
                        </div>
                        <div class="col-1 text-center" style="-webkit-writing-mode: vertical-rl;">
                            <img src="../../../assets/img/utilities/arrow-right.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>