<app-header></app-header>
<section class="page-section mt-4">
  <div class="container" style="margin-top: 100px">
    <div class="row">
      <div class="col">
        <h2 class="founded" style="text-align: center;">Available Offshore Job Opportunities</h2>
      </div>
    </div>
    <div class="row jobs">
      <div class="col-3 mb-3">
        <div class="card admin" routerLink="/jobs/admin">
          <div class="card-body">
            <img src="../../../assets/img/home/admin.png">
            <div class="row title mt-2">
                <h5>Administrative</h5>
                <hr class="mt-2" style="border: 2px solid rgba(136, 221, 220, 0.5);">
            </div>
            <div class="row content">
              <span>
                Logistics & Operations Administrator
                <br><br>
                Administrative Assitants / Office Managers
                <br><br>
                Executive Assistants
                <br><br>
                Virtual Assistants
                <br><br>
                Data Entry
              </span>
            </div>
          </div>
        </div>   
      </div>
      
    </div>
    
    <div class="text-center mt-5">
      <button type="button" class="btn founded-btn" routerLink="/candidates/search">Search jobs
        <i class="fa-solid fa-arrow-right"></i>
      </button>
    </div>
  </div>
</section>
<app-footer></app-footer>