.jobs div.card {
    width: auto;
    border-radius: 15px;
    text-align: start;
}

.jobs div.card-body {
    margin: 22px;
}

.jobs div.card.first {
    background: #FEEFBC;
}

.jobs div.card.second {
    background: #D8F9F7;
}

.jobs div.card.third {
    background: #EADCFF;
}

.jobs div.card.fourth {
    background: #FBCBFF;
}