<div *ngIf="isLoading" class="sk-chase">
  <div class="sk-chase-dot"></div>
  <div class="sk-chase-dot"></div>
  <div class="sk-chase-dot"></div>
  <div class="sk-chase-dot"></div>
  <div class="sk-chase-dot"></div>
  <div class="sk-chase-dot"></div>
</div>

<div *ngIf="!isLoading">
<nav class="navbar navbar-expand-lg navbar-dark fixed-top main-nav" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="/">
          <img src="../../../assets/img/logos/vww-logo.png" style="position: absolute;
          width: 220px;
          height: 60px;
          top: 10px;">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars ms-1"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                <li class="nav-item">
                  <div ngbDropdown class="d-inline-block">
                    <button type="button" class="btn" id="dropdownBasic1" ngbDropdownToggle>CANDIDATES</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                      <button ngbDropdownItem><a class="nav-link nav-title" href="/candidates">Candidates</a></button>
                      <button ngbDropdownItem><a class="nav-link nav-title" href="/candidates/search">Search</a></button>
                    </div>
                  </div>
                </li>
                <li class="nav-item">
                  <div ngbDropdown class="d-inline-block">
                    <button type="button" class="btn" id="dropdownBasic1" ngbDropdownToggle>EMPLOYERS</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                      <button ngbDropdownItem><a class="nav-link nav-title" href="/employers">Employers</a></button>
                      <button ngbDropdownItem><a class="nav-link nav-title" href="/employers/services">Services</a></button>
                      <button ngbDropdownItem><a class="nav-link nav-title" href="/employers/pricing">Pricing</a></button>
                    </div>
                  </div>
                </li>
                <li class="nav-item"><a class="nav-link nav-title" href="/about">About</a></li>
                <li class="nav-item"><a class="nav-link nav-title" href="javascript:void(0);">Blog</a></li>
                <li class="nav-item"><a class="nav-link nav-title" href="javascript:void(0);">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>
  <!-- Masthead-->
  <header class="masthead">
      <div class="container mb-5">
        <div class="text-center">
          <h1 class="section-heading">Remote working,<br> done right.</h1>
          <br>
          <h4 class="sub-heading">No swiping or scrolling. Just the best candidates and companies in one place.</h4>
        </div>
      </div>
      <div class="container job-button">
        <div class="row">
          <div class="col" style="text-align: end;">
              <a href="/candidates/search">
            <button type="button" class="btn candidate-btn" placement="left"
              ngbTooltip="Example Description for finding a job">
              Find a job
              <i class="fa-solid fa-arrow-right"></i>
            </button>
            </a>
          </div>
          <div class="col" style="text-align: start;">
            <a href="/candidates">
            <button type="button" class="btn employer-btn" placement="right"
                ngbTooltip="Example Description for finding a talent">
                Find a Talent
              <i class="fa-solid fa-arrow-right"></i>
            </button>
            </a>
          </div>
        </div>
      </div>
      <div class="container mt-5">
        <div id="animatedHeaderFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
          <div class="carousel-inner text-center">
            <div class="carousel-item active" data-bs-interval="1500">
              <img src="../../../assets/img/background/state=1.png">
            </div>
            <div class="carousel-item" data-bs-interval="1500">
              <img src="../../../assets/img/background/state=2.png">
            </div>
            <div class="carousel-item" data-bs-interval="1500">
              <img src="../../../assets/img/background/state=3.png">
            </div>
            <div class="carousel-item" data-bs-interval="1500">
              <img src="../../../assets/img/background/state=4.png">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#animatedHeaderFade" data-bs-slide="prev" hidden>
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" #animatedHeader data-bs-target="#animatedHeaderFade" data-bs-slide="next" hidden>
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </header>

    <section class="page-section">
      <div class="container mt-5">
        <div class="card banner">
          <div class="card-body">
            <h2 class="trusted">Trusted By</h2>
          </div>
          <div class="container mb-4">
            <marquee id='scroll_news' scrollamount="5" loop="infinite">
              <div onMouseOver="document.getElementById('scroll_news').stop();" onMouseOut="document.getElementById('scroll_news').start();">
              <ul class="marquee-content">
                <li class="marquee-item">
                  <img class="marquee-image" src="../../../assets/img/banner/moving-banners.png">
                </li>
                <li class="marquee-item">
                  <img class="marquee-image" src="../../../assets/img/banner/moving-banners.png" style="padding-left: 30px;">
                </li>
              </ul></div>
            </marquee>
          </div>
        </div>
      </div>
    </section>

    <section class="page-section" *ngIf="!isLoading">
      <div class="container" style="max-width: 1600px;">
          <div class="row text-center">
            <div id="descriptionCarousel" class="carousel slide" data-bs-ride="true">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#descriptionCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#descriptionCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#descriptionCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#descriptionCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#descriptionCarousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
              </div>

              <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="1000">
                  <div class="row align-items-start">
                    <img src="../../../assets/img/about/desc-01.png">
                  </div>
                </div>
                <div class="carousel-item" data-bs-interval="1000">
                  <div class="row align-items-start">
                    <img src="../../../assets/img/about/desc-02.png">
                  </div>
                </div>
                
                <div class="carousel-item" data-bs-interval="1000">
                  <div class="row align-items-start">
                    <img src="../../../assets/img/about/desc-03.png">
                  </div>
                </div>
                <div class="carousel-item" data-bs-interval="1000">
                  <div class="row align-items-start">
                    <img src="../../../assets/img/about/desc-04.png">
                  </div>
                </div>
                <div class="carousel-item" data-bs-interval="1000">
                  <div class="row align-items-start">
                    <img src="../../../assets/img/about/desc-05.png">
                  </div>
                </div>
              </div>
      
              <button class="carousel-control-prev" type="button" data-bs-target="#descriptionCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#descriptionCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
        </div>
      </div>
  </section>
  
  <section class="page-section about-us mt-5">
    <div class="container">
      <div class="row">
        <div class="col">
          <h2 class="founded" style="text-align: start;">Founded on fairness</h2>
          <p class="founded-details">
            We put people first.
            <br><br>
            Unlike other remote hiring platforms, we don't make any money off upcharges, or take a slice of employee earnings.
            <br><br>
            Why? Because it's the right thing to do, and it's the best thing for your business too.
            <br><br>
            We believe that when you treat business relationships with as much care and respect as all other relationships, you both reap the rewards.
            <br><br>
            We help create compatible working relationships and remote workplace policies that bring out the best in each other and help businesses boom.
          </p>
          <a href="/about">
          <button type="button" class="btn founded-btn">About us
            <i class="fa-solid fa-arrow-right"></i>
          </button>
          </a>
        </div>
        <div class="col">
          <div id="subHeaderAnimated" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner text-center">
              <div class="carousel-item active" data-bs-interval="1500">
                <img src="../../../assets/img/background/vww_photogrida.png">
              </div>
              <div class="carousel-item" data-bs-interval="1500">
                <img src="../../../assets/img/background/vww_photogridb.png">
              </div>
              <div class="carousel-item" data-bs-interval="1500">
                <img src="../../../assets/img/background/vww_photogridc.png">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#subHeaderAnimated" data-bs-slide="prev" hidden>
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" #animatedSubHeader data-bs-target="#subHeaderAnimated" data-bs-slide="next" hidden>
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>

<section class="page-section mt-5" id="services">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="founded" style="text-align: start;">Services</h2>
      </div>
    </div>
    <div class="row services">
      <div class="col">
        <div class="card first">
          <div class="card-body">
            <img src="../../../assets/img/background/laptop.png">
            <h4 class="sub-heading-services mt-3">Remote Hiring</h4>
            <div class="row" style="padding-top: 10rem;">
            </div>
          </div>
        </div>              
      </div>

      <div class="col">
        <div class="card second">
          <div class="card-body">
            <img src="../../../assets/img/background/file-medical.png">
            <h4 class="sub-heading-services mt-3">Create internatinally compliant policies</h4>
            <div class="row" style="padding-top: 3rem;">
            </div>
          </div>
        </div>              
      </div>

      <div class="col">
        <div class="card third">
          <div class="card-body">
            <img src="../../../assets/img/background/plus-circle.png">
            <h4 class="sub-heading-services mt-3">Additional Services</h4>
            <div class="row" style="padding-top: 8rem;">
            </div>
          </div>
        </div>              
      </div>
    </div>
    <div class="row mt-3">
      <div class="col text-center">
        <a href="/employers/services">
        <button type="button" class="btn founded-btn">Work with us
          <i class="fa-solid fa-arrow-right"></i>
        </button>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="page-section mt-5">
  <div class="container">
    <div class="card banner">
      <div class="card-body">
        <h2 class="trusted">Tech Stack</h2>
      </div>
      <div class="container mb-4">
        <marquee id='scroll_news' scrollamount="5" loop="infinite">
          <div onMouseOver="document.getElementById('scroll_news').stop();" onMouseOut="document.getElementById('scroll_news').start();">
          <ul class="marquee-content">
            <li class="marquee-item">
              <img class="marquee-image" src="../../../assets/img/banner/tech-stack.png">
            </li>
            <li class="marquee-item">
              <img class="marquee-image" src="../../../assets/img/banner/tech-stack.png" style="padding-left: 30px;">
            </li>
          </ul></div>
        </marquee>
      </div>
    </div>
  </div>
</section>

<section class="page-section mt-5">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="founded" style="text-align: center;">Jobs</h2>
      </div>
    </div>
    <div class="row jobs">
      <div class="col-6">
        <div class="card first">
          <div class="card-body">
            <div class="row">
                <div class="col-2 text-center pt-2">
                  <a routerLink="/candidates/jobs" target="_blank">
                    <img src="../../../assets/img/jobs/bank.png">
                  </a>
                </div>
                <div class="col-10">
                  <div class="row">
                    <div class="col">
                      Accounting & Finance
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      Sample Position A
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>              
      </div>
      <div class="col-6">
        <div class="card second">
          <div class="card-body">
            <div class="row">
                <div class="col-2 text-center pt-2">
                  <a routerLink="/candidates/jobs" target="_blank">
                    <img src="../../../assets/img/jobs/chat-dots.png">
                  </a>
                </div>
                <div class="col-10">
                  <div class="row">
                    <div class="col">
                      Accounting & Finance
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      Sample Position A
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>              
      </div>
      <div class="col-6 mt-4">
        <div class="card third">
          <div class="card-body">
            <div class="row">
                <div class="col-2 text-center pt-2">
                  <a routerLink="/candidates/jobs" target="_blank">
                    <img src="../../../assets/img/jobs/palette.png">
                  </a>
                </div>
                <div class="col-10">
                  <div class="row">
                    <div class="col">
                      Accounting & Finance
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      Sample Position A
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>              
      </div>
      <div class="col-6 mt-4">
        <div class="card fourth">
          <div class="card-body">
            <div class="row">
                <div class="col-2 text-center pt-2">
                  <a routerLink="/candidates/jobs" target="_blank">
                    <img src="../../../assets/img/jobs/clipboard-data.png">
                  </a>
                </div>
                <div class="col-10">
                  <div class="row">
                    <div class="col">
                      Accounting & Finance
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      Sample Position A
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>              
      </div>
      <div class="col-6 mt-4">
        <div class="card second">
          <div class="card-body">
            <div class="row">
                <div class="col-2 text-center pt-2">
                  <a routerLink="/candidates/jobs" target="_blank">
                    <img src="../../../assets/img/jobs/laptop.png">
                  </a>
                </div>
                <div class="col-10">
                  <div class="row">
                    <div class="col">
                      Accounting & Finance
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      Sample Position A
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>              
      </div>
      <div class="col-6 mt-4">
        <div class="card third">
          <div class="card-body">
            <div class="row">
                <div class="col-2 text-center pt-2">
                  <a routerLink="/candidates/jobs" target="_blank">
                    <img src="../../../assets/img/jobs/cart-check.png">
                  </a>
                </div>
                <div class="col-10">
                  <div class="row">
                    <div class="col">
                      Accounting & Finance
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      Sample Position A
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>              
      </div>
      <div class="col-6 mt-4">
        <div class="card fourth">
          <div class="card-body">
            <div class="row">
                <div class="col-2 text-center pt-2">
                  <a routerLink="/candidates/jobs" target="_blank">
                    <img src="../../../assets/img/jobs/people.png">
                  </a>
                </div>
                <div class="col-10">
                  <div class="row">
                    <div class="col">
                      Accounting & Finance
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      Sample Position A
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>              
      </div>
      <div class="col-6 mt-4">
        <div class="card first">
          <div class="card-body">
            <div class="row">
                <div class="col-2 text-center pt-2">
                  <a routerLink="/candidates/jobs" target="_blank">
                    <img src="../../../assets/img/jobs/receipt.png">
                  </a>
                </div>
                <div class="col-10">
                  <div class="row">
                    <div class="col">
                      Accounting & Finance
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      Sample Position A
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>              
      </div>
      <div class="col-6 mt-4">
        <div class="card first">
          <div class="card-body">
            <div class="row">
                <div class="col-2 text-center pt-2">
                  <a routerLink="/candidates/jobs" target="_blank">
                    <img src="../../../assets/img/jobs/truck.png">
                  </a>
                </div>
                <div class="col-10">
                  <div class="row">
                    <div class="col">
                      Accounting & Finance
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      Sample Position A
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>              
      </div>
      <div class="col-6 mt-4">
        <div class="card second">
          <div class="card-body">
            <div class="row">
                <div class="col-2 text-center pt-2">
                  <a routerLink="/candidates/jobs" target="_blank">
                    <img src="../../../assets/img/jobs/code-square.png">
                  </a>
                </div>
                <div class="col-10">
                  <div class="row">
                    <div class="col">
                      Accounting & Finance
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      Sample Position A
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>              
      </div>
      <div class="col-6 mt-4">
        <div class="card third">
          <div class="card-body">
            <div class="row">
                <div class="col-2 text-center pt-2">
                  <a routerLink="/candidates/jobs" target="_blank">
                    <img src="../../../assets/img/jobs/cpu.png">
                  </a>
                </div>
                <div class="col-10">
                  <div class="row">
                    <div class="col">
                      Accounting & Finance
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      Sample Position A
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>              
      </div>
      <div class="col-6 mt-4">
        <div class="card fourth">
          <div class="card-body">
            <div class="row">
                <div class="col-2 text-center pt-2">
                  <a routerLink="/candidates/jobs" target="_blank">
                    <img src="../../../assets/img/jobs/globe.png">
                  </a>
                </div>
                <div class="col-10">
                  <div class="row">
                    <div class="col">
                      Accounting & Finance
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      Sample Position A
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>              
      </div>
    </div>
    
    <div class="text-center mt-3">
      <a routerLink="/candidates/search" target="_blank">
        <button type="button" class="btn founded-btn">Search jobs
        <i class="fa-solid fa-arrow-right"></i>
        </button>
      </a>
    </div>
  </div>
</section>

<section class="page-section mt-5" id="">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="founded" style="text-align: start;">Testimonials</h2>
      </div>
    </div>
    <ul ngbNav #nav="ngbNav" class="nav-tabs testimonial-container">
      <li [ngbNavItem]="2">
        <a ngbNavLink><p>What our companies say</p></a>
        <ng-template ngbNavContent>
          <div class="row testimonial-bg-color">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex justify-content-center mb-4">
                    <img src="../../../assets/img/testimonials/company-01.png"
                      class="rounded-circle shadow-1-strong" width="150" height="150" />
                  </div>
                  <h5 class="mb-3">Company Name</h5>
                  <p class="px-xl-3">
                    <i class="fas fa-quote-left pe-2"></i>
                    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                    Aliqua id fugiat nostrud irure ex duis ea quis id quis ad et. Sunt qui esse pariatur duis deserunt mollit dolore cillum minim tempor enim. Elit aute irure tempor cupidatat incididunt sint deserunt ut voluptate aute id deserunt nisi.
                    <i class="fas fa-quote-right pe-2"></i>
                  </p>
                  <ul class="list-unstyled d-flex justify-content-center mb-0">
                    <li>
                      <i class="fas fa-star fa-sm text-warning"></i>
                    </li>
                    <li>
                      <i class="fas fa-star fa-sm text-warning"></i>
                    </li>
                    <li>
                      <i class="fas fa-star fa-sm text-warning"></i>
                    </li>
                    <li>
                      <i class="fas fa-star fa-sm text-warning"></i>
                    </li>
                    <li>
                      <i class="fas fa-star fa-sm text-warning"></i>
                    </li>
                  </ul>
                </div>
              </div>              
            </div>
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex justify-content-center mb-4">
                    <img src="../../../assets/img/testimonials/company-02.png"
                      class="rounded-circle shadow-1-strong" width="150" height="150" />
                  </div>
                  <h5 class="mb-3">Company Name</h5>
                  <p class="px-xl-3">
                    <i class="fas fa-quote-left pe-2"></i>
                    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                    Aliqua id fugiat nostrud irure ex duis ea quis id quis ad et. Sunt qui esse pariatur duis deserunt mollit dolore cillum minim tempor enim. Elit aute irure tempor cupidatat incididunt sint deserunt ut voluptate aute id deserunt nisi.
                    <i class="fas fa-quote-right pe-2"></i>
                  </p>
                  <ul class="list-unstyled d-flex justify-content-center mb-0">
                    <li>
                      <i class="fas fa-star fa-sm text-warning"></i>
                    </li>
                    <li>
                      <i class="fas fa-star fa-sm text-warning"></i>
                    </li>
                    <li>
                      <i class="fas fa-star fa-sm text-warning"></i>
                    </li>
                    <li>
                      <i class="fas fa-star fa-sm text-warning"></i>
                    </li>
                    <li>
                      <i class="fas fa-star fa-sm text-warning"></i>
                    </li>
                  </ul>
                </div>
              </div>              
            </div>
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex justify-content-center mb-4">
                    <img src="../../../assets/img/testimonials/company-03.png"
                      class="rounded-circle shadow-1-strong" width="150" height="150" />
                  </div>
                  <h5 class="mb-3">Company Name</h5>
                  <p class="px-xl-3">
                    <i class="fas fa-quote-left pe-2"></i>
                    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                    Aliqua id fugiat nostrud irure ex duis ea quis id quis ad et. Sunt qui esse pariatur duis deserunt mollit dolore cillum minim tempor enim. Elit aute irure tempor cupidatat incididunt sint deserunt ut voluptate aute id deserunt nisi.
                    <i class="fas fa-quote-right pe-2"></i>
                  </p>
                  <ul class="list-unstyled d-flex justify-content-center mb-0">
                    <li>
                      <i class="fas fa-star fa-sm text-warning"></i>
                    </li>
                    <li>
                      <i class="fas fa-star fa-sm text-warning"></i>
                    </li>
                    <li>
                      <i class="fas fa-star fa-sm text-warning"></i>
                    </li>
                    <li>
                      <i class="fas fa-star fa-sm text-warning"></i>
                    </li>
                    <li>
                      <i class="fas fa-star fa-sm text-warning"></i>
                    </li>
                  </ul>
                </div>
              </div>              
            </div>
          </div>
        </ng-template>
      </li>
      <li [ngbNavItem]="1">
        <a ngbNavLink><p>What our candidates say</p></a>
        <ng-template ngbNavContent>
          <div id="testimonialCarousel" class="carousel slide" data-bs-ride="true">
            <div class="carousel-inner">
              <div class="testi-carousel-item carousel-item active">
                <div class="row testimonial-bg-color">
                  <div class="col">
                    <div class="card">
                      <div class="card-body">
                        <div class="d-flex justify-content-center mb-4">
                          <img src="assets/img/testimonials/test01.jpg"
                            class="rounded-circle shadow-1-strong" width="150" height="150" />
                        </div>
                        <h5 class="mb-3">Nazireh Reis</h5>
                        <p class="px-xl-3">
                          <i class="fas fa-quote-left pe-2"></i>I would recommend this service 1000%.
                          I just landed a remote work job thanks to the foresight and awesome support of this team. 👏 I had gotten fed up of being stuck in traffic, stressed with zero work/life balance, hours wasted in travelling...solution, remote work!
                          Kudos to Mrs. Jisselle for her selfless service. I'm convinced and won over....here's to a new chapter of me! Follow them and stay up to date and proative with your recruitment. You won't regret it!
                          <i class="fas fa-quote-right pe-2"></i>
                        </p>
                        <ul class="list-unstyled d-flex justify-content-center mb-0">
                          <li>
                            <i class="fas fa-star fa-sm text-warning"></i>
                          </li>
                          <li>
                            <i class="fas fa-star fa-sm text-warning"></i>
                          </li>
                          <li>
                            <i class="fas fa-star fa-sm text-warning"></i>
                          </li>
                          <li>
                            <i class="fas fa-star fa-sm text-warning"></i>
                          </li>
                          <li>
                            <i class="fas fa-star fa-sm text-warning"></i>
                          </li>
                        </ul>
                      </div>
                    </div>              
                  </div>
                  <div class="col">
                    <div class="card">
                      <div class="card-body">
                        <div class="d-flex justify-content-center mb-4">
                          <img src="assets/img/testimonials/test02.jpg"
                            class="rounded-circle shadow-1-strong" width="150" height="150" />
                        </div>
                        <h5 class="mb-3">Wendy Rampersad</h5>
                        <p class="px-xl-3">
                          <i class="fas fa-quote-left pe-2"></i>A dynamic team, both Jisselle and Ashley epitomize professionalism and teamwork and are truly exemplars in the virtual work world.  
                          With their unique, refreshing personal styles in interacting with the client, one is left with a sense of confidence and reassurance towards advancing one's career.                                                                                 I highly recommend this awesome team to anyone determined to transform their lives from the humdrum of a 9-5 to literally working ANYWHERE in the WORLD!                                                                              I am very excited that I connected with them and look forward to only success stories ahead.                      
                          Thank you, Team Virtual Work World, for paying it forward.  I am motivated to one day do the same.
                          <i class="fas fa-quote-right pe-2"></i>
                        </p>
                        <ul class="list-unstyled d-flex justify-content-center mb-0">
                          <li>
                            <i class="fas fa-star fa-sm text-warning"></i>
                          </li>
                          <li>
                            <i class="fas fa-star fa-sm text-warning"></i>
                          </li>
                          <li>
                            <i class="fas fa-star fa-sm text-warning"></i>
                          </li>
                          <li>
                            <i class="fas fa-star fa-sm text-warning"></i>
                          </li>
                          <li>
                            <i class="fas fa-star fa-sm text-warning"></i>
                          </li>
                        </ul>
                      </div>
                    </div>              
                  </div>
                  <div class="col">
                    <div class="card">
                      <div class="card-body">
                        <div class="d-flex justify-content-center mb-4">
                          <img src="assets/img/testimonials/test03.jpg"
                            class="rounded-circle shadow-1-strong" width="150" height="150" />
                        </div>
                        <h5 class="mb-3">Ja Ne</h5>
                        <p class="px-xl-3">
                          <i class="fas fa-quote-left pe-2"></i>There's an old saying about the difference between a manager and a leader, "Managers do things right. Leaders do the right things." And you are both! You inspire people around you to push themselves and I am grateful for your help in finding me a job that suits me. Thank you for leading us so well. You're the best!!! 🙌🙌🙌💜💜💜
                          <i class="fas fa-quote-right pe-2"></i>
                        </p>
                        <ul class="list-unstyled d-flex justify-content-center mb-0">
                          <li>
                            <i class="fas fa-star fa-sm text-warning"></i>
                          </li>
                          <li>
                            <i class="fas fa-star fa-sm text-warning"></i>
                          </li>
                          <li>
                            <i class="fas fa-star fa-sm text-warning"></i>
                          </li>
                          <li>
                            <i class="fas fa-star fa-sm text-warning"></i>
                          </li>
                          <li>
                            <i class="fas fa-star fa-sm text-warning"></i>
                          </li>
                        </ul>
                      </div>
                    </div>              
                  </div>
                </div>
              </div>
              <div class="testi-carousel-item carousel-item">
                <div class="row testimonial-bg-color">
                  <div class="col">
                    <div class="card">
                      <div class="card-body">
                        <div class="d-flex justify-content-center mb-4">
                          <img src="assets/img/testimonials/test05.jpg"
                            class="rounded-circle shadow-1-strong" width="150" height="150"/>
                        </div>
                        <h5 class="mb-3">Aisha Jones</h5>
                        <p class="px-xl-3">
                          <i class="fas fa-quote-left pe-2"></i>I would just like to thank Jisselle Baldwin-Todd and the the VWWC fam for helping me land an amazing opportunity!!! The process is real and WFH opportunities are tangible #letsgetit
                          <i class="fas fa-quote-right pe-2"></i>
                        </p>
                        <ul class="list-unstyled d-flex justify-content-center mb-0">
                          <li>
                            <i class="fas fa-star fa-sm text-warning"></i>
                          </li>
                          <li>
                            <i class="fas fa-star fa-sm text-warning"></i>
                          </li>
                          <li>
                            <i class="fas fa-star fa-sm text-warning"></i>
                          </li>
                          <li>
                            <i class="fas fa-star fa-sm text-warning"></i>
                          </li>
                          <li>
                            <i class="fas fa-star fa-sm text-warning"></i>
                          </li>
                        </ul>
                      </div>
                    </div>              
                  </div>
                  <div class="col">
                    <div class="card">
                      <div class="card-body">
                        <div class="d-flex justify-content-center mb-4">
                          <img src="assets/img/testimonials/test04.jpg"
                            class="rounded-circle shadow-1-strong" width="150" height="150" />
                        </div>
                        <h5 class="mb-3">Thalia BW</h5>
                        <p class="px-xl-3">
                          <i class="fas fa-quote-left pe-2"></i>Guess what!!!
                          I got a part time wfh job!!
                          Jisselle thank you for offering me the opportunity! I sincerely appreciate the time you took to explain the process, your consideration and guidance.
                          The process works people!!!!
                          <i class="fas fa-quote-right pe-2"></i>
                        </p>
                        <ul class="list-unstyled d-flex justify-content-center mb-0">
                          <li>
                            <i class="fas fa-star fa-sm text-warning"></i>
                          </li>
                          <li>
                            <i class="fas fa-star fa-sm text-warning"></i>
                          </li>
                          <li>
                            <i class="fas fa-star fa-sm text-warning"></i>
                          </li>
                          <li>
                            <i class="fas fa-star fa-sm text-warning"></i>
                          </li>
                          <li>
                            <i class="fas fa-star fa-sm text-warning"></i>
                          </li>
                        </ul>
                      </div>
                    </div>              
                  </div>
                  <div class="col">
                    <div class="card">
                      <div class="card-body">
                        <div class="d-flex justify-content-center mb-4">
                          <img src="assets/img/testimonials/test06.jpg"
                            class="rounded-circle shadow-1-strong" width="150" height="150" />
                        </div>
                        <h5 class="mb-3">Renai Paria</h5>
                        <!-- <h6 class="text-primary mb-3">Web Developer</h6> -->
                        <p class="px-xl-3">
                          <i class="fas fa-quote-left pe-2"></i>Jisselle I want to thank you so much,you're an amazing person & great career advisor, been wanting a WFH job all my life & finally thanks to you and your team I will be starting my dream job next month.
                          #remoteworking #WFH #amazingwomen #dreamsdocometrue
                          <i class="fas fa-quote-right pe-2"></i>
                        </p>
                        <ul class="list-unstyled d-flex justify-content-center mb-0">
                          <li>
                            <i class="fas fa-star fa-sm text-warning"></i>
                          </li>
                          <li>
                            <i class="fas fa-star fa-sm text-warning"></i>
                          </li>
                          <li>
                            <i class="fas fa-star fa-sm text-warning"></i>
                          </li>
                          <li>
                            <i class="fas fa-star fa-sm text-warning"></i>
                          </li>
                          <li>
                            <i class="fas fa-star fa-sm text-warning"></i>
                          </li>
                        </ul>
                      </div>
                    </div>              
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </li>
      <li class="testimonial-nav">
        <button class="" type="button" data-bs-target="#testimonialCarousel" data-bs-slide="prev">
          <img src="../../../assets/img/utilities/arrow-left.png" width="100%">
        </button>
        <button>
          <img src="../../../assets/img/utilities/dot.png" width="100%">
        </button>
        <button class="" type="button" data-bs-target="#testimonialCarousel" data-bs-slide="next">
          <img src="../../../assets/img/utilities/arrow-right.png" width="100%">
        </button>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
  </div>
</section>
<section class="page-section" id="contact">
    <div class="container">
        <div class="row">
          <div class="col" style="text-align: start;">
            <img src="../../../assets/img/logos/vww-logo-white.png">
            <div class="row mt-4">
              <div class="col">
                Candidates
              </div>
              <div class="col">
                Employers
              </div>
              <div class="col">
                Company
              </div>
            </div>
            <div class="row mt-4">
              <div class="col">
                Why apply
              </div>
              <div class="col">
                Why work for us
              </div>
              <div class="col">
                about
              </div>
            </div>
            <div class="row mt-4">
              <div class="col">
                Search Jobs
              </div>
              <div class="col">
                Employer services
              </div>
              <div class="col">
                Blog
              </div>
            </div>
            <div class="row mt-4">
              <div class="col">
              </div>
              <div class="col">
                Pricing
              </div>
              <div class="col">
                Contact
              </div>
            </div>
          </div>
          <div class="col" style="text-align: center;">
            <div class="row" style="padding-top: 85px;">
              <div class="col">
                Subscribe to our newsletter
              </div>
              <div class="row mt-4" style="text-align: -webkit-center; margin-left: 20%;">
                <div class="col">
                  <div class="input-group input-group-lg w-75">
                    <input type="text" class="form-control" aria-label="Sizing example input" placeholder="Enter your email address here" aria-describedby="inputGroup-sizing-lg">
                  </div>
                </div>
              </div>
              <div class="row mt-4">
                <div class="col">
                  <button type="button" class="btn contact-submit-btn">Subscribe</button>
                </div>
              </div>
              <div class="row mt-5">
                <div class="col">
                  Follow us on social media
                </div>
              </div>
              <div class="row mt-3">
                <div class="col" style="margin-left: 15px;">
                  <a href="https://www.facebook.com/groups/virtualworkworld" target="_blank"><img src="../../../assets/img/logos/Facebook.png" class="me-3"></a>
                  <a href="https://www.linkedin.com/in/virtualworkworld/" target="_blank"><img src="../../../assets/img/logos/Linkedin.png" class="me-3"></a>
                  <a href="https://www.instagram.com/virtualworkworld/" target="_blank"><img src="../../../assets/img/logos/Instagram.png" class="me-3"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</section>
<!-- </div> -->
