.jobs div.card {
    width: auto;
    border-radius: 15px;
    text-align: start;
}

.jobs div.card-body {
    margin: 22px;
}

.jobs div.card.first {
    background: #FEEFBC;
}

.jobs div.card.second {
    background: #D8F9F7;
}

.jobs div.card.third {
    background: #EADCFF;
}

.jobs div.card.fourth {
    background: #FBCBFF;
}

.testimonial-bg-color div div .card-body {
    background-color: #F5F5F5;
}

.testimonial-nav {
    margin-left: auto;
}

.testimonial-nav button {
    background: none !important;
    border: none;
}

.testi-carousel-item .row {
    margin-left: 0;
    margin-right: 0;
}

.testi-carousel-item .row div {
    padding-bottom: 0;
}

.testi-carousel-item .card {
    margin-bottom: 10px;
}

.testimonial-container li a {
    color: #1B3180;
}

.testimonial-container li a.active {
    background-color: #EADCFF;
}

.testimonial-container {
    border-color: #EADCFF;
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
    border-bottom: none;
}

.candidate-btn{
    color: #FBCA1F;
    background-color: #1B3180;
    border-color: #1B3180;
}

.candidate-btn:hover {
  color: #1B3180;
  border-color: #1B3180;
  background-color: transparent;
}

.dropdown button {
    border: none;
    color: #6A6A6A;
    border-radius: revert;
    font-weight: normal;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.dropdown-item {
    border-bottom: 2px solid #6A6A6A !important;
    width: 70%;
    margin: auto;
}

div.dropdown-menu.show {
    position: absolute;
    width: 300px;
    background: #F1F1F1;
}
  
.dropdown-item:hover {
    background-color: #e9ecef !important;
}

.employer-btn{
    color: #1B3180;
    background-color: white;
    border-color: #1B3180;
}

.employer-btn:hover {
    color: white;
    background-color: #1B3180;
}

.founded-fade .founded-inner .founded-item {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 3s;
  transition-timing-function: linear;
}

.founded-item img {
    width: -webkit-fill-available;
}

.founded-fade .founded-inner .active {
  opacity: 1;
}

.carousel-inner.header img {
    width: 100%;
}

.jobs .card-body {
    height: auto;
}

.intro  {
    height: 201px;
    left: 203px;
    top: 1018px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0.01em;
    
    color: #6A6A6A;
}

a.nav-link.nav-title:hover {
    cursor: pointer;
}