<div *ngIf="isLoading" class="sk-chase">
  <div class="sk-chase-dot"></div>
  <div class="sk-chase-dot"></div>
  <div class="sk-chase-dot"></div>
  <div class="sk-chase-dot"></div>
  <div class="sk-chase-dot"></div>
  <div class="sk-chase-dot"></div>
</div>

<div *ngIf="!isLoading">
<nav class="navbar navbar-expand-lg navbar-dark fixed-top main-nav" id="mainNav" style="background-color: white !important">
    <div class="container">
        <a class="navbar-brand" href="/">
          <img src="../../../assets/img/logos/vww-logo.png" style="position: absolute;
          width: 220px;
          height: 60px;
          top: 10px;">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars ms-1"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                <li class="nav-item">
                  <div ngbDropdown class="d-inline-block">
                    <button type="button" class="btn" id="dropdownBasic1" ngbDropdownToggle>CANDIDATES</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                      <button ngbDropdownItem routerLink="/candidates/info"><a class="nav-link nav-title">Candidates</a></button>
                      <button ngbDropdownItem routerLink="/candidates/search"><a class="nav-link nav-title">Search</a></button>
                    </div>
                  </div>
                </li>
                <li class="nav-item">
                  <div ngbDropdown class="d-inline-block">
                    <button type="button" class="btn" id="dropdownBasic1" ngbDropdownToggle>EMPLOYERS</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                      <button ngbDropdownItem routerLink="/employers/info"><a class="nav-link nav-title">Employers</a></button>
                      <button ngbDropdownItem routerLink="/employers/services"><a class="nav-link nav-title">Services</a></button>
                      <button ngbDropdownItem routerLink="/employers/pricing"><a class="nav-link nav-title">Pricing</a></button>
                    </div>
                  </div>
                </li>
                <li class="nav-item" routerLink="/about"><a class="nav-link nav-title">About Us</a></li>
                <!-- <li class="nav-item"><a class="nav-link nav-title" href="/blog;">Blog</a></li> -->
                <li class="nav-item" routerLink="/contact"><a class="nav-link nav-title">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>
  <!-- Masthead-->
  <header class="masthead">
      <div class="container mb-5">
        <div class="text-center">
          <h1 class="section-heading">Remote working,<br> done right.</h1>
          <br>
          <h4 class="sub-heading">No swiping or scrolling. Just the best, vetted candidates and companies in one place.</h4>
        </div>
      </div>
      <div class="container job-button">
        <div class="row">
          <div class="col" style="text-align: end;">
            <button type="button" class="btn candidate-btn" placement="left"
              ngbTooltip="Find your dream remote role, working right from your home." routerLink="/candidates/search">
              <i class="fa-solid fa-arrow-left"></i>
              Find a Job
            </button>
          </div>
          <div class="col" style="text-align: start;">
            <button type="button" class="btn employer-btn" placement="right"
                ngbTooltip="Hire vetted talent worldwide, for a fraction of the time and cost." routerLink="/candidates/info">
                Find Talent
                <i class="fa-solid fa-arrow-right"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="container mt-5">
        <div id="animatedHeaderFade" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner header text-center">
            <div class="carousel-item active" data-bs-interval="1500">
              <img src="../../../assets/img/background/state=1.png">
            </div>
            <div class="carousel-item" data-bs-interval="1500">
              <img src="../../../assets/img/background/state=2.png">
            </div>
            <div class="carousel-item" data-bs-interval="1500">
              <img src="../../../assets/img/background/state=3.png">
            </div>
            <div class="carousel-item" data-bs-interval="1500">
              <img src="../../../assets/img/background/state=4.png">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#animatedHeaderFade" data-bs-slide="prev" hidden>
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" #animatedHeader data-bs-target="#animatedHeaderFade" data-bs-slide="next" hidden>
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </header>

    <section class="page-section" style="margin-top: -60px;">
      <div class="container mt-5">
        <div class="card banner">
          <div class="card-body" style="padding-top: 50px;">
            <h2 class="trusted">Trusted By</h2>
          </div>
          <div class="container mb-4">
            <marquee id='scroll_news' scrollamount="5" loop="infinite">
              <!-- <div onMouseOver="document.getElementById('scroll_news').stop();" onMouseOut="document.getElementById('scroll_news').start();"> -->
              <div>
              <ul class="marquee-content">
                <li class="marquee-item">
                  <img class="marquee-image" src="../../../assets/img/banner/moving-banners.png">
                </li>
                <li class="marquee-item">
                  <img class="marquee-image" src="../../../assets/img/banner/moving-banners.png" style="padding-left: 30px;">
                </li>
              </ul></div>
            </marquee>
          </div>
        </div>
      </div>
    </section>

    <section class="page-section">
      <div class="container text-center">
          <div class="col-sm-12 intro" style="margin-top: -30px">
            “We take the endless searching, overuse of staff resources, and high costs out of the offshore hiring process.”
          </div>
      </div>
  </section>

    <section class="page-section" *ngIf="!isLoading">
      <div class="container" style="max-width: 1600px;">
          <div class="row text-center">
            <div id="descriptionCarousel" class="carousel slide" data-bs-ride="true">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#descriptionCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#descriptionCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#descriptionCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#descriptionCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#descriptionCarousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
              </div>

              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="row align-items-start">
                    <img src="../../../assets/img/about/desc-01.png">
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="row align-items-start">
                    <img src="../../../assets/img/about/desc-02.png">
                  </div>
                </div>
                
                <div class="carousel-item">
                  <div class="row align-items-start">
                    <img src="../../../assets/img/about/desc-03.png">
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="row align-items-start">
                    <img src="../../../assets/img/about/desc-04.png">
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="row align-items-start">
                    <img src="../../../assets/img/about/desc-05.png">
                  </div>
                </div>
              </div>
      
              <button class="carousel-control-prev" type="button" data-bs-target="#descriptionCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#descriptionCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
        </div>
      </div>
  </section>

  <section class="page-section mt-5" id="services">
    <div class="container">
      <div class="row">
        <div class="col">
          <h2 class="founded" style="text-align: center;">Services</h2>
        </div>
      </div>
      <div class="row services">
        <div class="col-xl-4 col-lg-6 col-md-6">
          <div class="card first">
            <div class="card-body text-center" routerLink="/employers/info">
              <img src="../../../assets/img/home/laptop.png"/>
              <h4 class="sub-heading-services mt-4">Hassle-Free <br>
                Offshore Hiring
              </h4>
              <ul>
                <li>
                  Hiring offshore contractors can be overwhelming, but we make it easy. 
                  Our expert team matches you with the perfect candidate, no matter where they are in the world.
                </li>
                <li>
                  We handle the paperwork and logistics, so you can focus on growing your business.
                </li>
                <li>
                  With our careful screening and security checks, you can trust that you're hiring the best talent for your company.
                </li>
              </ul>
            </div>
          </div>              
        </div>

        <div class="col-xl-4 col-lg-6 col-md-6">
          <div class="card second">
            <div class="card-body text-center" routerLink="/employers/info">
              <img src="../../../assets/img/home/note.png">
              <h4 class="sub-heading-services mt-4">Internationally Compliant Contracts & Policies
              </h4>
              <ul>
                <li>
                    Don't risk hefty fines and legal issues when it comes to policies for your offshore contractors. 
                    Let our specialist team create internationally compliant policies that are tailored to your company's culture.
                </li>
                <li>
                  Our policies are designed to be fair to the candidate, so you can attract and retain top talent.
                </li>
                <li>
                  With our polished policies in place, you can focus on building strong relationships with your offshore team and growing your business.
                </li>
              </ul>
            </div>
          </div>              
        </div>

        <div class="col-xl-4 col-lg-6 col-md-6 small-dev">
          <div class="card third">
            <div class="card-body text-center" routerLink="/employers/pricing">
              <img src="../../../assets/img/home/battery.png">
              <h4 class="sub-heading-services mt-4">Comprehensive <br>
                Support Services</h4>
                <ul>
                  <li>
                    We don't just stop at hiring and policies. We also offer a range of support services to help your business succeed.
                  </li>
                  <li>
                    Our engaging onboarding experiences ensure your offshore team starts strong and feels welcomed.
                  </li>
                  <li>
                    Our expert advice on customer service, tech solutions, and overall company success will help take your business to the next level.
                  </li>
                </ul>
            </div>
          </div>              
        </div>
      </div>
      <div class="row mt-3">
        <div class="col text-center">
          <button type="button" class="btn founded-btn" routerLink="/employers/services">Work with us
            <i class="fa-solid fa-arrow-right"></i>
          </button>
        </div>
      </div>
    </div>
  </section>
  
  <section class="page-section about-us mt-5">
    <div class="container">
      <div class="row">
        <div class="col">
          <h2 class="founded" style="text-align: start;">Founded on fairness</h2>
          <p class="founded-details">
            We put people first.
            <br><br>
            Unlike other remote hiring platforms, we don't make any money off upcharges, or take a slice of employee earnings.
            <br><br>
            Why? Because it's the right thing to do, and it's the best thing for your business too.
            <br><br>
            We believe that when you treat business relationships with as much care and respect as all other relationships, you both reap the rewards.
            <br><br>
            We help create compatible working relationships and remote workplace policies that bring out the best in each other and help businesses boom.
          </p>
          <button type="button" class="btn founded-btn mt-4" routerLink="/about">About us
            <i class="fa-solid fa-arrow-right"></i>
          </button>
        </div>
        <div class="col">
          <div id="subHeaderAnimated" class="carousel slide carousel-fade founded-fade" data-bs-ride="carousel">
            <div class="carousel-inner founded-inner">
              <div class="carousel-item founded-item active" data-bs-interval="3000">
                <img src="../../../assets/img/background/vww_photogrida.png">
              </div>
              <div class="carousel-item founded-item" data-bs-interval="3000">
                <img src="../../../assets/img/background/vww_photogridb.png">
              </div>
              <div class="carousel-item founded-item" data-bs-interval="3000">
                <img src="../../../assets/img/background/vww_photogridc.png">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#subHeaderAnimated" data-bs-slide="prev" hidden>
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" #animatedSubHeader data-bs-target="#subHeaderAnimated" data-bs-slide="next" hidden>
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </div>  
  </section>

  <section class="page-section mt-4">
    <div class="container">
      <div class="card banner">
        <div class="card-body">
          <h2 class="trusted">Tech Stack</h2>
        </div>
        <div class="container mb-4">
          <marquee id='scroll_news' scrollamount="5" loop="infinite">
            <div onMouseOver="document.getElementById('scroll_news').stop();" onMouseOut="document.getElementById('scroll_news').start();">
            <ul class="marquee-content">
              <li class="marquee-item">
                <img class="marquee-image" src="../../../assets/img/banner/tech-stack.png">
              </li>
              <li class="marquee-item">
                <img class="marquee-image" src="../../../assets/img/banner/tech-stack.png" style="padding-left: 30px;">
              </li>
            </ul></div>
          </marquee>
          <p class="tech-stack-blurb">
            We are knowledgeable in various tools and software. We can assist you in streamlining your digital office operations and achieving
            success through our trusted technology partners, providing seamless communication, collaboration, and productivity.
            From project management to customer support, our tech stack has got you covered!
          </p>
        </div>
      </div>
    </div>
  </section>

<section class="page-section mt-4">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="founded" style="text-align: center;">Remote Job Opportunities Available</h2>
      </div>
    </div>
    <div class="row jobs">
      <div class="col-3">
        <div class="card admin">
          <div class="card-body">
            <img src="../../../assets/img/home/admin.png">
            <div class="row title mt-2">
                <h5>Administrative</h5>
                <hr class="mt-2" style="border: 2px solid rgba(136, 221, 220, 0.5);">
            </div>
            <div class="row content">
              <span>
                Administrative Assitants / Office Managers
                <br><br>
                Executive Assistants
                <br><br>
                Virtual Assistants
                <br><br>
                Data Entry
              </span>
            </div>
          </div>
        </div>   
      </div>
      <div class="col-3">
        <div class="card customer">
          <div class="card-body">
            <img src="../../../assets/img/jobs/chat-dots.png">
            <div class="row title mt-2">
                <h5 style="font-size: 18px;">Customer Service & Support</h5>
                <hr class="mt-2" style="border: 2px solid rgba(136, 221, 220, 0.5);">
            </div>
            <div class="row content">
              <span>
                Customer Success /
                Customer Support
                <br><br>
                Account Managers
                <br><br>
                Technical Support
                <br><br>
                Hotel & Hospitality
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card engineering">
          <div class="card-body">
            <img src="../../../assets/img/jobs/cart-check.png">
            <div class="row title mt-2">
                <h5>Lead Generation & Sales</h5>
                <hr class="mt-2" style="border: 2px solid rgba(136, 221, 220, 0.5);">
            </div>
            <div class="row content">
              <span>
                Appointment Setters
                <br><br>
                Insurance / Medical Representatives
                <br><br>
                Lead Generation
                <br><br>
                Sales Executive
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card creative">
          <div class="card-body">
            <img src="../../../assets/img/jobs/content.png">
            <div class="row title mt-2">
                <h5>Content & Marketing</h5>
                <hr class="mt-2" style="border: 2px solid rgba(136, 221, 220, 0.5);">
            </div>
            <div class="row content">
              <span>
                Email Marketing
                <br><br>
                Digital Growth
                <br><br>
                Social Media Managers
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card creative">
          <div class="card-body">
            <img src="../../../assets/img/jobs/creative.png">
            <div class="row title mt-2">
                <h5>Creative & Design</h5>
                <hr class="mt-2" style="border: 2px solid rgba(136, 221, 220, 0.5);">
            </div>
            <div class="row content">
              <span>
                Content Writers
                <br><br>
                Creatives / Designers
                <br><br>
                UX/UI Designers
                <br><br>
                Video Editor /
                Animation / Motion Graphics
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card engineering">
          <div class="card-body">
            <img src="../../../assets/img/jobs/laptop.png">
            <div class="row title mt-2">
                <h5 style="font-size: 18px;">Engineering & Development</h5>
                <hr class="mt-2" style="border: 2px solid rgba(136, 221, 220, 0.5);">
            </div>
            <div class="row content">
              <span>
                Mobile App Development
                <br><br>
                Mobile App Engineers
                <br><br>
                Software Developers
                <br><br>
                Web Development
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card customer">
          <div class="card-body">
            <img src="../../../assets/img/jobs/bank.png">
            <div class="row title mt-2">
                <h5>Accounting & Finance</h5>
                <hr class="mt-2" style="border: 2px solid rgba(136, 221, 220, 0.5);">
            </div>
            <div class="row content">
              <span>
                Accountant
                <br><br>
                Medical Billing Specialist
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card admin">
          <div class="card-body">
            <img src="../../../assets/img/jobs/people.png">
            <div class="row title mt-2">
                <h5>Management</h5>
                <hr class="mt-2" style="border: 2px solid rgba(136, 221, 220, 0.5);">
            </div>
            <div class="row content">
              <span>
                Managers/Department Heads
                <br><br>
                Human Resources
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="text-center mt-5">
      <button type="button" class="btn founded-btn" routerLink="/candidates/search">Search jobs
        <i class="fa-solid fa-arrow-right"></i>
      </button>
    </div>
  </div>
</section>

<section class="community-section mt-5">
  <div class="container">
    <div>
      <img src="../../../assets/img/home/community.png">                
    </div>
    <div class="be-part-comm">
      <h1>Be Part of Our Community</h1>
      <p>Our Facebook group is the perfect place to connect, collaborate, and learn from one another. Don't miss out!</p>
      <a href="https://www.facebook.com/groups/263877431523726" target="_blank"><button type="button" class="btn founded-btn mt-3" routerLink="#">
        Click Here To Join!
      </button></a>
    </div>
  </div>
</section>

<section class="candidate-section mt-5">
  <div class="container pb-4 text-center">
      <h1>Testimonials</h1>
      <ul ngbNav #nav="ngbNav" class="nav-tabs testimonial-container">
          <li [ngbNavItem]="1">
            <ng-template ngbNavContent>
              <div id="testimonialCarousel" class="carousel slide" data-bs-ride="true">
                <div class="carousel-inner">
                  <div class="testi-carousel-item carousel-item active">
                    <div class="row testimonial-bg-color">
                      <div class="col">
                        <div class="card" [style.height]="isExpanded4 ? '525px' : '470px'">
                          <div class="card-body">
                            <div class="d-flex justify-content-center mb-4">
                              <img src="assets/img/testimonials/test05.jpg"
                                class="rounded-circle shadow-1-strong" width="150" height="150"/>
                            </div>
                            <h4>Aisha Jones</h4>
                            <ul class="list-unstyled d-flex justify-content-center">
                              <li>
                                <i class="fas fa-star fa-sm text-warning"></i>
                              </li>
                              <li>
                                <i class="fas fa-star fa-sm text-warning"></i>
                              </li>
                              <li>
                                <i class="fas fa-star fa-sm text-warning"></i>
                              </li>
                              <li>
                                <i class="fas fa-star fa-sm text-warning"></i>
                              </li>
                              <li>
                                <i class="fas fa-star fa-sm text-warning"></i>
                              </li>
                            </ul>
                            <div [hidden]="hideInitial4">
                              <p class="px-xl-3">
                                I would just like to thank Jisselle Baldwin-Todd and the the VWWC fam for helping me land an amazing opportunity!!! The process is real...
                              </p>
                              <span (click)="showWhole4()" class="see-more">
                                see more
                              </span>
                            </div>
                            <div [hidden]="!hideInitial4">
                              <p class="px-xl-3">
                                I would just like to thank Jisselle Baldwin-Todd and the the VWWC fam for helping me land an amazing opportunity!!! 
                                The process is real and WFH opportunities are tangible #letsgetit
                              </p>
                              <span (click)="hideWhole4()" class="see-more">
                                see less
                              </span>
                            </div>
                          </div>
                        </div>              
                      </div>
                      <div class="col">
                        <div class="card" [style.height]="isExpanded5 ? '525px' : '470px'">
                          <div class="card-body">
                            <div class="d-flex justify-content-center mb-4">
                              <img src="assets/img/testimonials/test04.jpg"
                                class="rounded-circle shadow-1-strong" width="150" height="150" />
                            </div>
                            <h4>Thalia BW</h4>
                            <ul class="list-unstyled d-flex justify-content-center">
                              <li>
                                <i class="fas fa-star fa-sm text-warning"></i>
                              </li>
                              <li>
                                <i class="fas fa-star fa-sm text-warning"></i>
                              </li>
                              <li>
                                <i class="fas fa-star fa-sm text-warning"></i>
                              </li>
                              <li>
                                <i class="fas fa-star fa-sm text-warning"></i>
                              </li>
                              <li>
                                <i class="fas fa-star fa-sm text-warning"></i>
                              </li>
                            </ul>
                            <div [hidden]="hideInitial5">
                              <p class="px-xl-3">
                                I got a part time wfh job!! Jisselle thank you for offering me the opportunity! I sincerely appreciate the time you took to explain the process,...
                              </p>
                              <span (click)="showWhole5()" class="see-more">
                                see more
                              </span>
                            </div>
                            <div [hidden]="!hideInitial5">
                              <p class="px-xl-3">
                                I got a part time wfh job!! Jisselle thank you for offering me the opportunity! I sincerely appreciate the time you took to explain the process, your consideration and guidance.
                                The process works people!!!!
                              </p>
                              <span (click)="hideWhole5()" class="see-more">
                                see less
                              </span>
                            </div>
                          </div>
                        </div>              
                      </div>
                      <div class="col">
                        <div class="card" [style.height]="isExpanded6 ? '600px' : '470px'">
                          <div class="card-body">
                            <div class="d-flex justify-content-center mb-4">
                              <img src="assets/img/testimonials/test06.jpg"
                                class="rounded-circle shadow-1-strong" width="150" height="150" />
                            </div>
                            <h4>Renai Paria</h4>
                            <ul class="list-unstyled d-flex justify-content-center">
                              <li>
                                <i class="fas fa-star fa-sm text-warning"></i>
                              </li>
                              <li>
                                <i class="fas fa-star fa-sm text-warning"></i>
                              </li>
                              <li>
                                <i class="fas fa-star fa-sm text-warning"></i>
                              </li>
                              <li>
                                <i class="fas fa-star fa-sm text-warning"></i>
                              </li>
                              <li>
                                <i class="fas fa-star fa-sm text-warning"></i>
                              </li>
                            </ul>
                            <div [hidden]="hideInitial6">
                              <p class="px-xl-3">
                                Jisselle I want to thank you so much,you're an amazing person & great career advisor, been wanting a WFH job all my life & finally thanks to you...
                              </p>
                              <span (click)="showWhole6()" class="see-more">
                                see more
                              </span>
                            </div>
                            <div [hidden]="!hideInitial6">
                              <p class="px-xl-3">
                                Jisselle I want to thank you so much,you're an amazing person & great career advisor, been wanting a WFH job all my life & finally thanks to you and your team I will be starting my dream job next month.
                                #remoteworking #WFH #amazingwomen #dreamsdocometrue
                              </p>
                              <span (click)="hideWhole6()" class="see-more">
                                see less
                              </span>
                            </div>
                          </div>
                        </div>              
                      </div>
                    </div>
                  </div>
                  <div class="testi-carousel-item carousel-item">
                    <div class="row testimonial-bg-color">
                      
                      <div class="col">
                        <div class="card" [style.height]="isExpanded1 ? '745px' : '470px'">
                          <div class="card-body">
                            <div class="d-flex justify-content-center mb-4">
                              <img src="assets/img/testimonials/test01.jpg"
                                class="rounded-circle shadow-1-strong" width="150" height="150" />
                            </div>
                            <h4>Nazireh Reis</h4>
                            <ul class="list-unstyled d-flex justify-content-center">
                              <li>
                                <i class="fas fa-star fa-sm text-warning"></i>
                              </li>
                              <li>
                                <i class="fas fa-star fa-sm text-warning"></i>
                              </li>
                              <li>
                                <i class="fas fa-star fa-sm text-warning"></i>
                              </li>
                              <li>
                                <i class="fas fa-star fa-sm text-warning"></i>
                              </li>
                              <li>
                                <i class="fas fa-star fa-sm text-warning"></i>
                              </li>
                            </ul>
                            <div [hidden]="hideInitial1">
                              <p class="px-xl-3">
                                I would recommend this service 1000%. I just landed a remote work job thanks to the foresight and awesome support of this team. 👏...
                              </p>
                              <span (click)="showWhole1()" class="see-more">
                                see more
                              </span>
                            </div>
                            <div [hidden]="!hideInitial1">
                              <p class="px-xl-3">
                                I would recommend this service 1000%.
                                I just landed a remote work job thanks to the foresight and awesome support of this team. 👏 
                                I had gotten fed up of being stuck in traffic, stressed with zero work/life balance, hours wasted in travelling...solution, remote work!
                                Kudos to Mrs. Jisselle for her selfless service. I'm convinced and won over....here's to a new chapter of me! Follow them and stay up to date and proative with your recruitment. You won't regret it!
                              </p>
                              <span (click)="hideWhole1()" class="see-more">
                                see less
                              </span>
                            </div>
                          </div>
                        </div>              
                      </div>
                      <div class="col">
                        <div class="card pb-3" [style.height]="isExpanded2 ? '100%' : '470px'">
                          <div class="card-body">
                            <div class="d-flex justify-content-center mb-4">
                              <img src="assets/img/testimonials/test02.jpg"
                                class="rounded-circle shadow-1-strong" width="150" height="150" />
                            </div>
                            <h4>Wendy Rampersad</h4>
                            <ul class="list-unstyled d-flex justify-content-center">
                              <li>
                                <i class="fas fa-star fa-sm text-warning"></i>
                              </li>
                              <li>
                                <i class="fas fa-star fa-sm text-warning"></i>
                              </li>
                              <li>
                                <i class="fas fa-star fa-sm text-warning"></i>
                              </li>
                              <li>
                                <i class="fas fa-star fa-sm text-warning"></i>
                              </li>
                              <li>
                                <i class="fas fa-star fa-sm text-warning"></i>
                              </li>
                            </ul>
                            <div [hidden]="hideInitial2">
                              <p class="px-xl-3">
                                A dynamic team, both Jisselle and Ashley epitomize professionalism and teamwork and are truly exemplars in the virtual work...
                              </p>
                              <span (click)="showWhole2()" class="see-more">
                                see more
                              </span>
                            </div>
                            <div [hidden]="!hideInitial2">
                              <p class="px-xl-3">
                                A dynamic team, both Jisselle and Ashley epitomize professionalism and teamwork and are truly exemplars in the virtual work world. With their unique, refreshing personal styles in interacting with the client, one is left with a sense of confidence and reassurance towards advancing one's career.                                                                                 I highly recommend this awesome team to anyone determined to transform their lives from the humdrum of a 9-5 to literally working ANYWHERE in the WORLD!                                                                              I am very excited that I connected with them and look forward to only success stories ahead.                      
                                Thank you, Team Virtual Work World, for paying it forward.  I am motivated to one day do the same.
                              </p>
                              <span (click)="hideWhole2()" class="see-more">
                                see less
                              </span>
                            </div>
                          </div>
                        </div>              
                      </div>
                      <div class="col">
                        <div class="card" [style.height]="isExpanded3 ? '645px' : '470px'">
                          <div class="card-body">
                            <div class="d-flex justify-content-center mb-4">
                              <img src="assets/img/testimonials/test03.jpg"
                                class="rounded-circle shadow-1-strong" width="150" height="150" />
                            </div>
                            <h4>Ja Ne</h4>
                            <ul class="list-unstyled d-flex justify-content-center">
                              <li>
                                <i class="fas fa-star fa-sm text-warning"></i>
                              </li>
                              <li>
                                <i class="fas fa-star fa-sm text-warning"></i>
                              </li>
                              <li>
                                <i class="fas fa-star fa-sm text-warning"></i>
                              </li>
                              <li>
                                <i class="fas fa-star fa-sm text-warning"></i>
                              </li>
                              <li>
                                <i class="fas fa-star fa-sm text-warning"></i>
                              </li>
                            </ul>
                            <div [hidden]="hideInitial3">
                              <p class="px-xl-3">
                                There's an old saying about the difference between a manager and a leader, "Managers do things right. Leaders do the right...
                              </p>
                              <span (click)="showWhole3()" class="see-more">
                                see more
                              </span>
                            </div>
                            <div [hidden]="!hideInitial3">
                              <p class="px-xl-3">
                                There's an old saying about the difference between a manager and a leader, "Managers do things right. 
                                Leaders do the right things." And you are both! You inspire people around you to push themselves and I am grateful 
                                for your help in finding me a job that suits me. Thank you for leading us so well. You're the best!!! 🙌🙌🙌💜💜💜
                              </p>
                              <span (click)="hideWhole3()" class="see-more">
                                see less
                              </span>
                            </div>
                          </div>
                        </div>              
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </li>
          <li class="testimonial-nav pb-3">
            <button class="" type="button" data-bs-target="#testimonialCarousel" data-bs-slide="prev">
              <img src="../../../assets/img/utilities/vector-left.png" width="100%">
            </button>
            <button>
            </button>
            <button class="" type="button" data-bs-target="#testimonialCarousel" data-bs-slide="next">
              <img src="../../../assets/img/utilities/vector-right.png" width="100%">
            </button>
          </li>
        </ul>
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
  </div>
</section>
<app-footer></app-footer>
