<section class="page-section" style="padding-bottom: 50px;">
    <div class="container section-heading" style="margin-top: 100px;">
        <div class="row">
            <button type="button" class="btn back-btn mt-3" (click)="backClicked()">
                <i class="fa-solid fa-arrow-left me-3"></i>Go Back
            </button>
        </div>
        <div class="row">
            <h1>Hiring</h1>
        </div>
    </div>
</section>


<section class="page-section pt-0">
    <div class="container pb-4" style=" border-top: 3px solid #EADCFF;">
        <div class="row mt-3">
            <div class="col-4">
                <img src="../../../assets/img/blog/card_list01.png">
            </div>
            <div class="col-8">
                <div class="card">
                    <div class="card-body">
                      <h1 class="card-title">Heading</h1>
                      <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                      </p>
                      <a href="/blog/full">
                        <button type="button" class="btn founded-btn mt-3">Read more
                            <i class="fa-solid fa-arrow-right"></i>
                        </button>
                      </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3" style="border-top: 3px solid #F5F5F5; padding-top: 20px;">
            <div class="col-4">
                <img src="../../../assets/img/blog/card_list02.png">
            </div>
            <div class="col-8">
                <div class="card">
                    <div class="card-body">
                      <h1 class="card-title">Heading</h1>
                      <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                      </p>
                      <a href="/blog/full">
                      <button type="button" class="btn founded-btn mt-3">Read more
                        <i class="fa-solid fa-arrow-right"></i>
                    </button>
                    </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3" style="border-top: 3px solid #F5F5F5; padding-top: 20px;">
            <div class="col-4">
                <img src="../../../assets/img/blog/card_list03.png">
            </div>
            <div class="col-8">
                <div class="card">
                    <div class="card-body">
                      <h1 class="card-title">Heading</h1>
                      <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                      </p>
                      <a href="/blog/full">
                      <button type="button" class="btn founded-btn mt-3">Read more
                        <i class="fa-solid fa-arrow-right"></i>
                    </button>
                    </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3" style="border-top: 3px solid #F5F5F5; padding-top: 20px;">
            <div class="col-4">
                <img src="../../../assets/img/blog/card_list04.png">
            </div>
            <div class="col-8">
                <div class="card">
                    <div class="card-body">
                      <h1 class="card-title">Heading</h1>
                      <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                      </p>
                      <a href="/blog/full">
                      <button type="button" class="btn founded-btn mt-3">Read more
                        <i class="fa-solid fa-arrow-right"></i>
                    </button>
                    </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3" style="border-top: 3px solid #F5F5F5; padding-top: 20px;">
            <div class="col-4">
                <img src="../../../assets/img/blog/card_list05.png">
            </div>
            <div class="col-8">
                <div class="card">
                    <div class="card-body">
                      <h1 class="card-title">Heading</h1>
                      <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                      </p>
                      <a href="/blog/full">
                      <button type="button" class="btn founded-btn mt-3">Read more
                        <i class="fa-solid fa-arrow-right"></i>
                    </button>
                    </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3" style="border-top: 3px solid #F5F5F5; padding-top: 20px;">
            <div class="col-4">
                <img src="../../../assets/img/blog/card_list06.png">
            </div>
            <div class="col-8">
                <div class="card">
                    <div class="card-body">
                      <h1 class="card-title">Heading</h1>
                      <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                      </p>
                      <a href="/blog/full">
                      <button type="button" class="btn founded-btn mt-3">Read more
                        <i class="fa-solid fa-arrow-right"></i>
                    </button>
                    </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3" style="border-top: 3px solid #F5F5F5; padding-top: 20px;">
            <div class="col-4">
                <img src="../../../assets/img/blog/card_list07.png">
            </div>
            <div class="col-8">
                <div class="card">
                    <div class="card-body">
                      <h1 class="card-title">Heading</h1>
                      <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                      </p>
                      <a href="/blog/full">
                      <button type="button" class="btn founded-btn mt-3">Read more
                        <i class="fa-solid fa-arrow-right"></i>
                    </button>
                    </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3" style="border-top: 3px solid #F5F5F5; padding-top: 20px;">
            <div class="col-4">
                <img src="../../../assets/img/blog/card_list08.png">
            </div>
            <div class="col-8">
                <div class="card">
                    <div class="card-body">
                      <h1 class="card-title">Heading</h1>
                      <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                      </p>
                      <a href="/blog/full">
                      <button type="button" class="btn founded-btn mt-3">Read more
                        <i class="fa-solid fa-arrow-right"></i>
                    </button>
                    </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                  <li class="page-item">
                    <a class="page-link" href="javascript:void(0);" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li class="page-item"><a class="page-link" href="javascript:void(0);">1</a></li>
                  <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
                  <li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="javascript:void(0);" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
        </div>
    </div>
</section>