h1, h5 {
    color: #1B3180;
}

.back-btn {
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #6A6A6A;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 10px;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.icon {
    height: 50px;
    width: 56px;
}

.apply-btn {
    color: white;
    width: 130px;
    height: 50px;
    background: #9BE651;
    border-radius: 128px;
}

.card-text {
    color: #6A6A6A;
}

.jobs-details {
    border: none;
}

.card {
    border: none;
}

.blog-line {
    border-bottom: 3px solid #EADCFF;
}

.recommended div .card{
    padding: 0;
}

.page-item {
    margin-right: 10px;
    border-radius: 7px;
}

.page-item a {
    border-radius: 7px;
    color: #1B3180;
}