<section class="page-section">
    <div class="container text-center section-heading">
        <div class="row">
            <div class="col">
                <h1>Employers</h1>
            </div>
        </div>
    </div>
    <div>
        <img src="../../../assets/img/employers/section-heading.png" class="w-100">
    </div>
    <div class="container mt-5">
        <h5>We may be a small team, but we're mighty. We've got the skills to help your company skyrocket. Here's a snapshot of what we do.
        </h5>
    </div>
</section>
<section class="page-section" id="services">
    <div class="container">
      <div class="row text-center">
        <div class="col">
          <h2 class="founded">Services</h2>
        </div>
      </div>
      <div class="row services">
        <div class="col">
          <div class="card first">
            <div class="card-body">
              <img src="../../../assets/img/background/laptop.png">
              <h4 class="sub-heading-services mt-3">Remote Hiring - Hire people and teams in one place</h4>
              <div class="row" style="padding-top: 10rem;">
              </div>
            </div>
          </div>              
        </div>
  
        <div class="col">
          <div class="card second">
            <div class="card-body">
              <img src="../../../assets/img/background/file-medical.png">
              <h4 class="sub-heading-services mt-3">Create internationally compliant contracts and policies</h4>
              <div class="row" style="padding-top: 3rem;">
              </div>
            </div>
          </div>              
        </div>
  
        <div class="col">
          <div class="card third">
            <div class="card-body">
              <img src="../../../assets/img/background/plus-circle.png">
              <h4 class="sub-heading-services mt-3">Additional Services</h4>
              <div class="row" style="padding-top: 8rem;">
              </div>
            </div>
          </div>              
        </div>
      </div>
      <div class="row mt-5">
        <div class="col text-center">
          <button type="button" class="btn founded-btn">Work with us
            <i class="fa-solid fa-arrow-right"></i>
          </button>
        </div>
      </div>
    </div>
  </section>
<section class="page-section pt-0">
    <div class="container pb-4 text-center">
        <h1>Why we'll work for you</h1>
    </div>
    <div class="container" style="max-width: 1600px;">
        <div class="row text-center">
          <div id="descriptionCarousel" class="carousel slide" data-bs-ride="true">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#descriptionCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#descriptionCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#descriptionCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#descriptionCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
              <button type="button" data-bs-target="#descriptionCarousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
            </div>

            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row align-items-start">
                  <img src="../../../assets/img/about/desc-01.png">
                </div>
              </div>
              <div class="carousel-item">
                <div class="row align-items-start">
                  <img src="../../../assets/img/about/desc-02.png">
                </div>
              </div>
              
              <div class="carousel-item">
                <div class="row align-items-start">
                  <img src="../../../assets/img/about/desc-03.png">
                </div>
              </div>
              <div class="carousel-item">
                <div class="row align-items-start">
                  <img src="../../../assets/img/about/desc-04.png">
                </div>
              </div>
              <div class="carousel-item">
                <div class="row align-items-start">
                  <img src="../../../assets/img/about/desc-05.png">
                </div>
              </div>
            </div>
    
            <button class="carousel-control-prev" type="button" data-bs-target="#descriptionCarousel" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#descriptionCarousel" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
      </div>
    </div>
</section>

<section class="page-section pt-0">
    <div class="container pb-4 text-center">
        <h1>Hiring Timeline</h1>
    </div>
    <ul class="timeline">
        <li class="timeline-inverted">
            <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/1.jpg" alt="..." /></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h1>Week 1</h1>
                </div>
                <div class="timeline-body">
                <p class="text-muted">
                    We help you draft your job description, then get to work on finding you the best match in our Pipeline of vetted talent. 
                    We handpick the best people for the job based on your keywords, then review all the applications and choose ten candidates to move forward.
                    We then interview each candidate and narrow it down to the top three finalists. We carry out all background, character reference and security checks.
                </div>
            </div>
        </li>
        <li>
            <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/2.jpg" alt="..." /></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h1>Week 2</h1>
                </div>
                <div class="timeline-body">
                <p class="text-muted">
                    The top three candidates then go through an in-depth interview with the Lead Recruiter, 
                    where they also complete a skills-based assessment to see if they're a good fit. After this assessment,
                    they have a final interview with the Managing Director.
                </p>
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/3.jpg" alt="..." /></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h1>Week 3</h1>
                </div>
                <div class="timeline-body">
                    <p class="text-muted">
                        We then choose two final candidates, who will be sent for interviews with your company. 
                        Before the interviews, you'll be sent Candidate Portfolios which includes a profile on the candidate with their resume, 
                        a video introduction, references, interview notes, security clearance and completed assessments.
                    </p>
                </div>
            </div>
        </li>
        <li>
            <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/4.jpg" alt="..." /></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h1>Week 4</h1>
                </div>
                <div class="timeline-body">
                    <p class="text-muted">
                        Here's where you make your hire! Once you've made the decision, it's time to get them onboarded. 
                        And we can help with this too. Just take a look at our other services.
                    </p>
                </div>
            </div>
        </li>
    </ul>
</section>

<section class="page-section pt-0">
    <div class="container pb-4 text-center">
        <h1>What you had to say</h1>
        <h5>If you work with us, you'll be in good company. Here's why businesses love us.</h5>
        <ul ngbNav #nav="ngbNav" class="nav-tabs testimonial-container">
            <li [ngbNavItem]="1">
              <ng-template ngbNavContent>
                <div id="testimonialCarousel" class="carousel slide" data-bs-ride="true">
                  <div class="carousel-inner">
                    <div class="testi-carousel-item carousel-item active">
                      <div class="row testimonial-bg-color">
                        <div class="col">
                            <div class="card">
                              <div class="card-body">
                                <div class="d-flex justify-content-center mb-4">
                                  <img src="../../../assets/img/testimonials/company-01.png"
                                    class="rounded-circle shadow-1-strong" width="150" height="150" />
                                </div>
                                <h5 class="mb-3">Company Name</h5>
                                <p class="px-xl-3">
                                  <i class="fas fa-quote-left pe-2"></i>
                                  Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                                  Aliqua id fugiat nostrud irure ex duis ea quis id quis ad et. Sunt qui esse pariatur duis deserunt mollit dolore cillum minim tempor enim. Elit aute irure tempor cupidatat incididunt sint deserunt ut voluptate aute id deserunt nisi.
                                  <i class="fas fa-quote-right pe-2"></i>
                                </p>
                                <ul class="list-unstyled d-flex justify-content-center mb-0">
                                  <li>
                                    <i class="fas fa-star fa-sm text-warning"></i>
                                  </li>
                                  <li>
                                    <i class="fas fa-star fa-sm text-warning"></i>
                                  </li>
                                  <li>
                                    <i class="fas fa-star fa-sm text-warning"></i>
                                  </li>
                                  <li>
                                    <i class="fas fa-star fa-sm text-warning"></i>
                                  </li>
                                  <li>
                                    <i class="fas fa-star fa-sm text-warning"></i>
                                  </li>
                                </ul>
                              </div>
                            </div>              
                          </div>
                          <div class="col">
                            <div class="card">
                              <div class="card-body">
                                <div class="d-flex justify-content-center mb-4">
                                  <img src="../../../assets/img/testimonials/company-02.png"
                                    class="rounded-circle shadow-1-strong" width="150" height="150" />
                                </div>
                                <h5 class="mb-3">Company Name</h5>
                                <p class="px-xl-3">
                                  <i class="fas fa-quote-left pe-2"></i>
                                  Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                                  Aliqua id fugiat nostrud irure ex duis ea quis id quis ad et. Sunt qui esse pariatur duis deserunt mollit dolore cillum minim tempor enim. Elit aute irure tempor cupidatat incididunt sint deserunt ut voluptate aute id deserunt nisi.
                                  <i class="fas fa-quote-right pe-2"></i>
                                </p>
                                <ul class="list-unstyled d-flex justify-content-center mb-0">
                                  <li>
                                    <i class="fas fa-star fa-sm text-warning"></i>
                                  </li>
                                  <li>
                                    <i class="fas fa-star fa-sm text-warning"></i>
                                  </li>
                                  <li>
                                    <i class="fas fa-star fa-sm text-warning"></i>
                                  </li>
                                  <li>
                                    <i class="fas fa-star fa-sm text-warning"></i>
                                  </li>
                                  <li>
                                    <i class="fas fa-star fa-sm text-warning"></i>
                                  </li>
                                </ul>
                              </div>
                            </div>              
                          </div>
                          <div class="col">
                            <div class="card">
                              <div class="card-body">
                                <div class="d-flex justify-content-center mb-4">
                                  <img src="../../../assets/img/testimonials/company-03.png"
                                    class="rounded-circle shadow-1-strong" width="150" height="150" />
                                </div>
                                <h5 class="mb-3">Company Name</h5>
                                <p class="px-xl-3">
                                  <i class="fas fa-quote-left pe-2"></i>
                                  Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                                  Aliqua id fugiat nostrud irure ex duis ea quis id quis ad et. Sunt qui esse pariatur duis deserunt mollit dolore cillum minim tempor enim. Elit aute irure tempor cupidatat incididunt sint deserunt ut voluptate aute id deserunt nisi.
                                  <i class="fas fa-quote-right pe-2"></i>
                                </p>
                                <ul class="list-unstyled d-flex justify-content-center mb-0">
                                  <li>
                                    <i class="fas fa-star fa-sm text-warning"></i>
                                  </li>
                                  <li>
                                    <i class="fas fa-star fa-sm text-warning"></i>
                                  </li>
                                  <li>
                                    <i class="fas fa-star fa-sm text-warning"></i>
                                  </li>
                                  <li>
                                    <i class="fas fa-star fa-sm text-warning"></i>
                                  </li>
                                  <li>
                                    <i class="fas fa-star fa-sm text-warning"></i>
                                  </li>
                                </ul>
                              </div>
                            </div>              
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </li>
            <li class="testimonial-nav pb-3">
              <button class="" type="button" data-bs-target="#testimonialCarousel" data-bs-slide="prev">
                <img src="../../../assets/img/utilities/arrow-left.png" width="100%">
              </button>
              <button>
                <img src="../../../assets/img/utilities/dot.png" width="100%">
              </button>
              <button class="" type="button" data-bs-target="#testimonialCarousel" data-bs-slide="next">
                <img src="../../../assets/img/utilities/arrow-right.png" width="100%">
              </button>
            </li>
          </ul>
          <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
</section>
<section class="page-section" style="background-color: #1B3180;">
    <div class="container">
        <div class="row text-center">
            <h1 style="color: white">
                We do the hard work so you don't have to <br> <h4 class="pt-3">Get in touch with our team today to land the remote job that works for you.</h4>
            </h1>
        </div>
        <div class="text-center mt-3">
            <button type="button" class="btn founded-btn-white">Get in touch
                <i class="fa-solid fa-arrow-right"></i>
            </button>
        </div>
    </div>
</section>
<section class="page-section">
    <div class="container">
        <div class="row text-center">
            <h1>
                Frequently Asked Questions
            </h1>
        </div>
        <div class="row mt-3">
            <div class="accordion faq" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        What happens if I'm unhappy with the person I've hired?
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p> We guarantee you won't be, but if for whatever reason you're unhappy with your hire, 
                            you have 60 days  to raise this with us and we will staff you a new candidate, 
                            free of charge. We do regular check-ins every 2-weeks to help with the settling-in period and make sure everyone is doing okay.
                        </p>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        What happens if my new employee leaves?
                    </button>
                  </h2>
                  <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <p>Sample Text 001</p>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFour">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                        What kind of contracts can I hire candidates on?
                      </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <p>Sample Text 003</p>
                      </div>
                    </div>
                  </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingSix">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseThree">
                        Do I need to provide equipment to an employee?
                        </button>
                    </h2>
                    <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p>Sample Text 004</p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingSeven">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseThree">
                        How do I pay my employee?
                        </button>
                    </h2>
                    <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p>Sample Text 005</p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingEight">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseThree">
                            Can I trust the person I hire?
                        </button>
                    </h2>
                    <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p>Sample Text 006</p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingNine">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseThree">
                            How fast is the hiring process?
                        </button>
                    </h2>
                    <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p>Sample Text 007</p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTen">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseThree">
                            I don't know how much to pay my staff?
                        </button>
                    </h2>
                    <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p>Sample Text 008</p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingEleven">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEleven" aria-expanded="false" aria-controls="collapseThree">
                            Can I hire a bilingual staff member?
                        </button>
                    </h2>
                    <div id="collapseEleven" class="accordion-collapse collapse" aria-labelledby="headingEleven" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p>Sample Text 009</p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwelve">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseThree">
                            Do you offer discounts for more than one hire?
                        </button>
                    </h2>
                    <div id="collapseTwelve" class="accordion-collapse collapse" aria-labelledby="headingTwelve" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p>Sample Text 010</p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThirteen">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThirteen" aria-expanded="false" aria-controls="collapseThree">
                            How do I manage the time differences?
                        </button>
                    </h2>
                    <div id="collapseThirteen" class="accordion-collapse collapse" aria-labelledby="headingThirteen" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p>Sample Text 011</p>
                        </div>
                    </div>
                </div>
              </div>
        </div>
    </div>
</section>