.page-section#jobs div .row {
    margin-top: 10px;
}

.page-section#jobs div .row .card {
    background-color: #F1F1F1;
}

h5, h3 {
    color: #1B3180;
    margin: auto;
}

p {
    color: #bfb7b7;
    margin: auto;
}

.page-item {
    margin-right: 10px;
    border-radius: 7px;
}

.page-item a {
    border-radius: 7px;
    color: #1B3180;
}