.job-section#jobs div .row {
    margin-top: 10px;
}

.job-section#jobs div .row .card {
    background: #EDEFF7;
    border-radius: 15px;
}

h3, h5, p {
    font-family: 'Figtree';
}

.job-section h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 110%;
    letter-spacing: 0.01em;
    color: #192D74;
}

.job-section h5 {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    color: #1B3180;
}

.job-section p {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    color: #96A0C5;
}

.job-section .img {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.active {
    width: 100px;
    height: 26px;
}

h5, h3 {
    color: #1B3180;
    margin: auto;
}

p {
    color: #bfb7b7;
    margin: auto;
}

.page-item {
    margin-right: 10px;
    border-radius: 7px;
}

.page-item a {
    border-radius: 7px;
    color: #1B3180;
}

.col-3 {
    width: 27% !important;
}