<section class="page-section">
    <div class="container text-center section-heading" style="margin-top: 100px;">
        <img src="../../../assets/img/candidates/search.png" class="w-100">
    </div>
    <div class="container mt-5">
        <div class="input-group mb-3 input-group-lg">
            <input type="text" class="form-control" style="border-radius: 30px;" aria-label="Sizing example input" placeholder="Search for a title or job" aria-describedby="inputGroup-sizing-default">
          </div>
    </div>
</section>