<app-header></app-header>
<section class="page-section">
    <div class="container text-center section-heading" style="margin-top: 100px;">
        <img src="../../../assets/img/candidates/search.png" class="w-100">
    </div>
    <div class="container mt-5">
        <div class="input-group mb-3 input-group-lg">
            <input type="text" class="form-control" style="border-radius: 30px;" aria-label="Sizing example input" placeholder="Search for a title or job" aria-describedby="inputGroup-sizing-default">
          </div>
    </div>
</section>
<section class="page-section pt-0" id="jobs">
    <div class="container">
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <a href="/candidates/jobs" style="text-decoration: auto;">
                    <div class="row">
                        <div class="col-2 text-center pt-1">
                            <img src="../../../assets/img/candidates/jobs-001.png">
                        </div>
                        <div class="col-9">
                            <div class="row">
                                <h3>Content Moderator<img src="../../../assets/img/utilities/dot.png">Full Time</h3>
                            </div>
                            <div class="row">
                                <h5>Company name <img src="../../../assets/img/utilities/dot.png"> Location <img src="../../../assets/img/utilities/dot.png"> $000/month</h5>
                            </div>
                            <div class="row">
                                <p>5 Months ago</p>
                            </div>
                        </div>
                        <div class="col-1 text-center" style="-webkit-writing-mode: vertical-rl;">
                            <img src="../../../assets/img/utilities/arrow-right.png">
                        </div>
                    </div>
                </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <a href="/candidates/jobs" style="text-decoration: auto;">
                    <div class="row">
                        <div class="col-2 text-center pt-1">
                            <img src="../../../assets/img/candidates/jobs-002.png">
                        </div>
                        <div class="col-9">
                            <div class="row">
                                <h3>Administrative Assistant<img src="../../../assets/img/utilities/dot.png">Full Time</h3>
                            </div>
                            <div class="row">
                                <h5>Company name <img src="../../../assets/img/utilities/dot.png"> Location <img src="../../../assets/img/utilities/dot.png"> $000/month</h5>
                            </div>
                            <div class="row">
                                <p>5 Months ago</p>
                            </div>
                        </div>
                        <div class="col-1 text-center" style="-webkit-writing-mode: vertical-rl;">
                            <img src="../../../assets/img/utilities/arrow-right.png">
                        </div>
                    </div>
                </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <a href="/candidates/jobs" style="text-decoration: auto;">
                    <div class="row">
                        <div class="col-2 text-center pt-1">
                            <img src="../../../assets/img/candidates/jobs-003.png">
                        </div>
                        <div class="col-9">
                            <div class="row">
                                <h3>Customer Care Agent<img src="../../../assets/img/utilities/dot.png">Full Time</h3>
                            </div>
                            <div class="row">
                                <h5>Company name <img src="../../../assets/img/utilities/dot.png"> Location <img src="../../../assets/img/utilities/dot.png"> $000/month</h5>
                            </div>
                            <div class="row">
                                <p>5 Months ago</p>
                            </div>
                        </div>
                        <div class="col-1 text-center" style="-webkit-writing-mode: vertical-rl;">
                            <img src="../../../assets/img/utilities/arrow-right.png">
                        </div>
                    </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <a href="/candidates/jobs" style="text-decoration: auto;">
                    <div class="row">
                        <div class="col-2 text-center pt-1">
                            <img src="../../../assets/img/candidates/jobs-004.png">
                        </div>
                        <div class="col-9">
                            <div class="row">
                                <h3>Account Manager<img src="../../../assets/img/utilities/dot.png">Full Time</h3>
                            </div>
                            <div class="row">
                                <h5>Company name <img src="../../../assets/img/utilities/dot.png"> Location <img src="../../../assets/img/utilities/dot.png"> $000/month</h5>
                            </div>
                            <div class="row">
                                <p>5 Months ago</p>
                            </div>
                        </div>
                        <div class="col-1 text-center" style="-webkit-writing-mode: vertical-rl;">
                            <img src="../../../assets/img/utilities/arrow-right.png">
                        </div>
                    </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <a href="/candidates/jobs" style="text-decoration: auto;">
                    <div class="row">
                        <div class="col-2 text-center pt-1">
                            <img src="../../../assets/img/candidates/jobs-005.png">
                        </div>
                        <div class="col-9">
                            <div class="row">
                                <h3>Content Writer<img src="../../../assets/img/utilities/dot.png">Full Time</h3>
                            </div>
                            <div class="row">
                                <h5>Company name <img src="../../../assets/img/utilities/dot.png"> Location <img src="../../../assets/img/utilities/dot.png"> $000/month</h5>
                            </div>
                            <div class="row">
                                <p>5 Months ago</p>
                            </div>
                        </div>
                        <div class="col-1 text-center" style="-webkit-writing-mode: vertical-rl;">
                            <img src="../../../assets/img/utilities/arrow-right.png">
                        </div>
                    </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <a href="/candidates/jobs" style="text-decoration: auto;">
                    <div class="row">
                        <div class="col-2 text-center pt-1">
                            <img src="../../../assets/img/candidates/jobs-006.png">
                        </div>
                        <div class="col-9">
                            <div class="row">
                                <h3>Marketing Manager<img src="../../../assets/img/utilities/dot.png">Full Time</h3>
                            </div>
                            <div class="row">
                                <h5>Company name <img src="../../../assets/img/utilities/dot.png"> Location <img src="../../../assets/img/utilities/dot.png"> $000/month</h5>
                            </div>
                            <div class="row">
                                <p>5 Months ago</p>
                            </div>
                        </div>
                        <div class="col-1 text-center" style="-webkit-writing-mode: vertical-rl;">
                            <img src="../../../assets/img/utilities/arrow-right.png">
                        </div>
                    </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <a href="/candidates/jobs" style="text-decoration: auto;">
                    <div class="row">
                        <div class="col-2 text-center pt-1">
                            <img src="../../../assets/img/candidates/jobs-007.png">
                        </div>
                        <div class="col-9">
                            <div class="row">
                                <h3>Brand Strategist<img src="../../../assets/img/utilities/dot.png">Full Time</h3>
                            </div>
                            <div class="row">
                                <h5>Company name <img src="../../../assets/img/utilities/dot.png"> Location <img src="../../../assets/img/utilities/dot.png"> $000/month</h5>
                            </div>
                            <div class="row">
                                <p>5 Months ago</p>
                            </div>
                        </div>
                        <div class="col-1 text-center" style="-webkit-writing-mode: vertical-rl;">
                            <img src="../../../assets/img/utilities/arrow-right.png">
                        </div>
                    </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <a href="/candidates/jobs" style="text-decoration: auto;">
                    <div class="row">
                        <div class="col-2 text-center pt-1">
                            <img src="../../../assets/img/candidates/jobs-008.png">
                        </div>
                        <div class="col-9">
                            <div class="row">
                                <h3>Digital Growth Manager<img src="../../../assets/img/utilities/dot.png">Full Time</h3>
                            </div>
                            <div class="row">
                                <h5>Company name <img src="../../../assets/img/utilities/dot.png"> Location <img src="../../../assets/img/utilities/dot.png"> $000/month</h5>
                            </div>
                            <div class="row">
                                <p>5 Months ago</p>
                            </div>
                        </div>
                        <div class="col-1 text-center" style="-webkit-writing-mode: vertical-rl;">
                            <img src="../../../assets/img/utilities/arrow-right.png">
                        </div>
                    </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <a href="/candidates/jobs" style="text-decoration: auto;">
                    <div class="row">
                        <div class="col-2 text-center pt-1">
                            <img src="../../../assets/img/candidates/jobs-009.png">
                        </div>
                        <div class="col-9">
                            <div class="row">
                                <h3>Mobile App Developer<img src="../../../assets/img/utilities/dot.png">Full Time</h3>
                            </div>
                            <div class="row">
                                <h5>Company name <img src="../../../assets/img/utilities/dot.png"> Location <img src="../../../assets/img/utilities/dot.png"> $000/month</h5>
                            </div>
                            <div class="row">
                                <p>5 Months ago</p>
                            </div>
                        </div>
                        <div class="col-1 text-center" style="-webkit-writing-mode: vertical-rl;">
                            <img src="../../../assets/img/utilities/arrow-right.png">
                        </div>
                    </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <a href="/candidates/jobs" style="text-decoration: auto;">
                    <div class="row">
                        <div class="col-2 text-center pt-1">
                            <img src="../../../assets/img/candidates/jobs-010.png">
                        </div>
                        <div class="col-9">
                            <div class="row">
                                <h3>Business Development Manager<img src="../../../assets/img/utilities/dot.png">Full Time</h3>
                            </div>
                            <div class="row">
                                <h5>Company name <img src="../../../assets/img/utilities/dot.png"> Location <img src="../../../assets/img/utilities/dot.png"> $000/month</h5>
                            </div>
                            <div class="row">
                                <p>5 Months ago</p>
                            </div>
                        </div>
                        <div class="col-1 text-center" style="-webkit-writing-mode: vertical-rl;">
                            <img src="../../../assets/img/utilities/arrow-right.png">
                        </div>
                    </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                  <li class="page-item">
                    <a class="page-link" href="javascript:void(0);" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li class="page-item"><a class="page-link" href="javascript:void(0);">1</a></li>
                  <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
                  <li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="javascript:void(0);" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
        </div>
    </div>
</section>
<app-footer></app-footer>