<app-header></app-header>
<section class="page-section">
    <div class="container text-center section-heading">
        <div class="row">
            <div class="col">
                <h1 style="color: #1B3180">Contact</h1>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                <h4>Tell us what you need and we'll make it happen. Easy peasy.</h4>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
          <div class="col">
            <div class="card first">
                <div class="card-body">
                    <img src="../../../assets/img/utilities/binoculars.png" class="mb-15">
                  <h1 class="mb-15">Job Seeker?</h1>
                  <div class="row">
                    <div class="col-1">
                        <img src="../../../assets/img/utilities/mail.png">
                    </div>
                    <div class="col">
                        <p>careers@virtualworkworld.com</p>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card second">
                <div class="card-body">
                    <img src="../../../assets/img/utilities/people02.png" class="mb-15">
                    <h1 class="mb-15">Employer?</h1>
                    <div class="row">
                        <div class="col-1">
                            <img src="../../../assets/img/utilities/mail.png">
                        </div>
                        <div class="col">
                            <p>info@virtualworkworld.com</p>
                        </div>
                      </div>
                </div>
              </div>
          </div>
        </div>
    </div>
</section>
<app-footer></app-footer>