.navbar-nav li a {
    color: white !important;
}

.section-heading {
    color: #1B3180;
    height: 350px;
    padding-top: 150px;
}

.section-heading {
    color: #1B3180;
}

h5 {
    color: #6A6A6A;
}

h1 {
    color: white;
}

.pt-0 {
    padding-top: 0;
}

.contact-submit-btn {
    background-color: #9BE551;
    width: 200px;
    height: 50px;
    margin-left: 30px;
  }

.dropdown button {
    border: none;
    color: white;
    font-weight: normal;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

div.dropdown-menu.show {
    position: absolute;
    width: 300px;
    margin-top: 32px !important;
    background: #F1F1F1;
  }
  
  .dropdown-item {
    border-bottom: 2px solid #6A6A6A !important;
    width: 70%;
    margin: auto;
  }
  
  .dropdown-item:hover {
    background-color: #e9ecef !important;
  }

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
    border-bottom: none;
    color: red;
}

.card {
    color: white;
}

.first {
    height: 208px;
    background: #32D2CC;
    border-radius: 15px;
}

.second {
    height: 208px;
    background: #9747FF;
    border-radius: 15px;
}

.mb-15 {
    margin-bottom: 15px;
}

a.nav-link.nav-title.active {
    border-bottom: 5px solid #FBCA1F !important;
}