<!-- <nav class="navbar job-nav">
  <div class="container job-title-desc">
<ul>
  <a routerLink="/jobs/accounting/1" target="_blank">
    <i class="fas fa-university fa-3x"></i>
  </a>
</ul>
</div>
</nav> -->

<nav class="navbar job-nav">
  <div class="container job-title-desc">
    <div class="container job-title mb-1">
      Open Position
    </div>
  </div>
</nav>

<div class="container job-opening mt-5 mb-5">
  <div class="container text-start mt-3 border-bottom">
    <div class="row mb-2">
      <div class="col-1" style="width: 4%;">
        <i class="fas fa-file-alt fa-2x"></i>
      </div>
      <div class="col-11">
        <h4>Accounting Manager</h4>
      </div>
    </div>
  </div>
  <div class="container mt-4">
    <div class="row">
      <i class="fas fa-map-marker-alt fa-2x" style="width: 4%;"></i>
      <div class="col-sm border-end">
        <div class="row" style="padding-left: 12px;">
          Location
        </div>
        <div class="row">
          <b>Ontario, Canada</b>
        </div>
      </div>
      <div class="col-sm border-end">
        <div class="row">
          <i class="fa-solid fa-dollar-sign fa-2x" style="width: 10%;"></i>
          <div class="col-sm border-end">
            <div class="row" style="padding-left: 12px;">
              Salary
            </div>
            <div class="row">
              <b>500</b>
            </div>
        </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="row">
          <i class="fas fa-calendar-alt fa-2x" style="width: 15%;"></i>
          <div class="col-sm">
            <div class="row" style="padding-left: 12px;">
              Date Posted
            </div>
            <div class="row">
              <b>Jan 01, 2022</b>
            </div>
        </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="row">
          <a routerLink="/jobs/accounting/1" target="_blank">
            <button type="button" class="btn btn-apply" hidden>
            APPLY FOR THIS JOB
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container job-opening mt-5 mb-5">
  <div class="container text-start mt-3 border-bottom">
    <div class="row mb-2">
      <div class="col-1" style="width: 4%;">
        <i class="fas fa-file-alt fa-2x"></i>
      </div>
      <div class="col-11">
        <h4>Financial Analyst</h4>
      </div>
    </div>
  </div>
  <div class="container mt-4">
    <div class="row">
      <i class="fas fa-map-marker-alt fa-2x" style="width: 4%;"></i>
      <div class="col-sm border-end">
        <div class="row" style="padding-left: 12px;">
          Location
        </div>
        <div class="row">
          <b>Ontario, Canada</b>
        </div>
      </div>
      <div class="col-sm border-end">
        <div class="row">
          <i class="fa-solid fa-dollar-sign fa-2x" style="width: 10%;"></i>
          <div class="col-sm border-end">
            <div class="row" style="padding-left: 12px;">
              Salary
            </div>
            <div class="row">
              <b>300</b>
            </div>
        </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="row">
          <i class="fas fa-calendar-alt fa-2x" style="width: 15%;"></i>
          <div class="col-sm">
            <div class="row" style="padding-left: 12px;">
              Date Posted
            </div>
            <div class="row">
              <b>Jan 01, 2022</b>
            </div>
        </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="row">
          <a routerLink="/jobs/accounting/2" target="_blank">
            <button type="button" class="btn btn-apply" hidden>
              APPLY FOR THIS JOB
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container job-opening mt-5 mb-5">
  <div class="container text-start mt-3 border-bottom">
    <div class="row mb-2">
      <div class="col-1" style="width: 4%;">
        <i class="fas fa-file-alt fa-2x"></i>
      </div>
      <div class="col-11">
        <h4>Finance and Administrative Assistant</h4>
      </div>
    </div>
  </div>
  <div class="container mt-4">
    <div class="row">
      <i class="fas fa-map-marker-alt fa-2x" style="width: 4%;"></i>
      <div class="col-sm border-end">
        <div class="row" style="padding-left: 12px;">
          Location
        </div>
        <div class="row">
          <b>Ontario, Canada</b>
        </div>
      </div>
      <div class="col-sm border-end">
        <div class="row">
          <i class="fa-solid fa-dollar-sign fa-2x" style="width: 10%;"></i>
          <div class="col-sm border-end">
            <div class="row" style="padding-left: 12px;">
              Salary
            </div>
            <div class="row">
              <b>200</b>
            </div>
        </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="row">
          <i class="fas fa-calendar-alt fa-2x" style="width: 15%;"></i>
          <div class="col-sm">
            <div class="row" style="padding-left: 12px;">
              Date Posted
            </div>
            <div class="row">
              <b>Jan 01, 2022</b>
            </div>
        </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="row">
          <a routerLink="/jobs/accounting/3" target="_blank">
            <button type="button" class="btn btn-apply" hidden>
              APPLY FOR THIS JOB
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
