<section class="page-section">
    <div class="container text-center section-heading">
        <div class="row">
            <div class="col">
                <h1>Services</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <img src="../../../assets/img/employers/services-heading.png" class="w-100">
    </div>
</section>

<section class="page-section mt-5" id="services">
    <div class="container">
        <div class="row">
            <div class="col">
            <h2 class="founded">Services</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="d-flex">
                    <ul ngbNav #nav="ngbNav" class="nav-pills" orientation="vertical">
                      <li ngbNavItem="1">
                        <a ngbNavLink>
                            <div class="row">
                                <div class="col">Hire help, fast
                                </div>
                                <div class="col-1 text-center" style="-webkit-writing-mode: vertical-rl;">
                                    <img src="../../../assets/img/utilities/arrow-right.png">
                                </div>
                            </div>
                        </a>
                        <ng-template ngbNavContent>
                          <div class="row">
                            <img src="../../../assets/img/employers/card_additionalservices.png">
                          </div>
                          <div class="row mt-3">
                            <h1>Hire help, fast.</h1>
                          </div>
                          <div class="row mt-3">
                            <p>
                                One hire. Two hires. A team. Whatever the number, we'll help you get the right remote people in place. 
                                And with over 10 years' experience in international recruitment, the number of successful hires we've made speaks for itself.
                                <br><br>
                                You'll have a V.A, Customer Support or Data Entry team member in just 14 days, and all other roles in just 30 days.
                                <br><br>
                                The roles we hire for:<br>
                            </p>
                            <ul style="margin-left: 30px">
                                <li>Accounting</li>
                                <li>Administrative Assitants / Office Managers</li>
                                <li>Appointment Setters</li>
                                <li>Content Writers</li>
                                <li>Creatives / Designers</li>
                                <li>Customer Success / Customer Support / Account Managers</li>
                                <li>Data Entry</li>
                                <li>Executive Assistants</li>
                                <li>Hotel & Hospitality</li>
                                <li>Human Resources</li>
                                <li>IT</li>
                                <li>Insurance/Medical Representatives</li>
                                <li>Lead Generation</li>
                                <li>Marketing: Email Marketing, Digital Growth, Social Media Managers & more</li>
                                <li>Sales</li>
                                <li>Managers / Department Heads</li>
                                <li>Mobile App Development</li>
                                <li>Mobile App Engineers</li>
                                <li>Software Development</li>
                                <li>UX / UI Designers</li>
                                <li>Video Editor / Animation / Motion Graphics</li>
                                <li>Virtual Assistants</li>
                                <li>Web Development</li>
                            </ul>
                            <p>…And more! Tell us who you need to hire and we'll make it happen.</p>
                          </div>
                        </ng-template>
                      </li>
                      <li ngbNavItem="2">
                        <a ngbNavLink>
                            <div class="row">
                                <div class="col">Help you scale, fast
                                </div>
                                <div class="col-1 text-center" style="-webkit-writing-mode: vertical-rl;">
                                    <img src="../../../assets/img/utilities/arrow-right.png">
                                </div>
                            </div>
                        </a>
                        <ng-template ngbNavContent>
                          <p>Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko
                            farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts
                            ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar
                            helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson
                            8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester
                            stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
                        </ng-template>
                      </li>
                      <li ngbNavItem="3">
                        <a ngbNavLink>
                            <div class="row">
                                <div class="col">Polish your staff policies
                                </div>
                                <div class="col-1 text-center" style="-webkit-writing-mode: vertical-rl;">
                                    <img src="../../../assets/img/utilities/arrow-right.png">
                                </div>
                            </div>
                        </a>
                        <ng-template ngbNavContent>
                          <p>Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla facilisi.
                            Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu, congue et odio.
                            Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices et. Sed diam urna,
                            egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus faucibus nisl enim, nec
                            tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci varius natoque penatibus et
                            magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem aliquet ultricies in eget
                            neque. Phasellus nec tortor vel tellus pulvinar feugiat.</p>
                        </ng-template>
                      </li>
                      <li ngbNavItem="4">
                        <a ngbNavLink>
                            <div class="row">
                                <div class="col">Build your Tech Stack
                                </div>
                                <div class="col-1 text-center" style="-webkit-writing-mode: vertical-rl;">
                                    <img src="../../../assets/img/utilities/arrow-right.png">
                                </div>
                            </div>
                        </a>
                        <ng-template ngbNavContent>
                          <p>Sample Text 001</p>
                        </ng-template>
                      </li>
                      <li ngbNavItem="5">
                        <a ngbNavLink>
                            <div class="row">
                                <div class="col">Shape you Customer Support Team
                                </div>
                                <div class="col-1 text-center" style="-webkit-writing-mode: vertical-rl;">
                                    <img src="../../../assets/img/utilities/arrow-right.png">
                                </div>
                            </div>
                        </a>
                        <ng-template ngbNavContent>
                          <p>Sample Text 002</p>
                        </ng-template>
                      </li>
                      <li ngbNavItem="6">
                        <a ngbNavLink>
                            <div class="row">
                                <div class="col">Onboard once, hire once
                                </div>
                                <div class="col-1 text-center" style="-webkit-writing-mode: vertical-rl;">
                                    <img src="../../../assets/img/utilities/arrow-right.png">
                                </div>
                            </div>
                        </a>
                        <ng-template ngbNavContent>
                          <p>Sample Text 003</p>
                        </ng-template>
                      </li>
                      <li ngbNavItem="7">
                        <a ngbNavLink>
                            <div class="row">
                                <div class="col">
                                    Be your go-to guide
                                </div>
                                <div class="col-1 text-center" style="-webkit-writing-mode: vertical-rl;">
                                    <img src="../../../assets/img/utilities/arrow-right.png">
                                </div>
                            </div>
                        </a>
                        <ng-template ngbNavContent>
                          <p>Sample Text 004</p>
                        </ng-template>
                      </li>
                    </ul>
                  
                    <div [ngbNavOutlet]="nav" class="ms-4"></div>
                  </div>
            </div>
        </div>
    </div>
</section>

<div class="container mt-5">
    <img src="../../../assets/img/employers/services-content.png" class="w-100">
</div>

<section class="page-section mt-5">
    <div class="container">
        <div class="row text-center">
            <h1>
                Frequently Asked Questions
            </h1>
        </div>
        <div class="row mt-3">
            <div class="accordion faq" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        I don't know where to start, or what I need!
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p> We're so glad you found us. It sounds like you're swamped, and that's totally okay. 
                            That's why we're here. Reach out to us and we'll tackle it together. We can help you establish a staffing budget, 
                            create an action plan for the team you need, and help you along the way as you scale! 
                        </p>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Is there a price for a consultation?
                    </button>
                  </h2>
                  <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <p>Sample Text 001</p>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFour">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                        How often will you check in with me on a project? What can I expect from the communication?
                      </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <p>Sample Text 003</p>
                      </div>
                    </div>
                  </div>
              </div>
        </div>
    </div>
</section>
