<nav class="navbar job-nav">
  <div class="container job-title-desc">
    <div class="container text-center job-title mb-1">
      Financial Analyst
    </div>
  </div>
</nav>
<div class="container job-header mt-3">
  <div class="container vertical-center">
    <div class="row">
      <i class="fas fa-map-marker-alt fa-3x" style="width: 4%;"></i>
      <div class="col-sm border-end">
        <div class="row" style="padding-left: 12px;">
          Location
        </div>
        <div class="row">
          <b>Ontario, Canada</b>
        </div>
      </div>
      <div class="col-sm border-end">
        <div class="row">
          <i class="fa-solid fa-dollar-sign fa-3x" style="width: 10%;"></i>
          <div class="col-sm border-end">
            <div class="row" style="padding-left: 12px;">
              Salary
            </div>
            <div class="row">
              <b>500</b>
            </div>
        </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="row">
          <i class="fas fa-calendar-alt fa-3x" style="width: 15%;"></i>
          <div class="col-sm">
            <div class="row" style="padding-left: 12px;">
              Date Posted
            </div>
            <div class="row">
              <b>Jan 01, 2022</b>
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5 mb-5 job-summary">
  <div class="row">
    <div class="col-lg-8 col-sm-12">
      <u><strong>Position Summary:</strong></u>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Est blanditiis dolorem culpa incidunt minus dignissimos deserunt 
        repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores
        repudiandae, nostrum, reiciendis facere nemo!
      </p>

      <u><strong>Responsibilities:</strong></u>
      <ul>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
      </ul>

      <u><strong>Required Skills/Abilities:</strong></u>
      <ul>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
      </ul>

      <u><strong>Benefits: </strong></u>
      <ul>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
      </ul>
    </div>
    <div class="col-lg-4 col-sm-12">
      <span class="job-title" style="font-size: 30px;">Apply for this position</span>
      <form class="row g-3">
        <div class="col-md-12">
          <label for="inputEmail4" class="form-label">First Name <span>*</span></label>
          <input type="email" class="form-control" id="inputEmail4">
        </div>
        <div class="col-md-12">
          <label for="inputPassword4" class="form-label">Last Name <span>*</span></label>
          <input type="password" class="form-control" id="inputPassword4">
        </div>
        <div class="col-md-12">
          <label for="inputPassword4" class="form-label">Email Address <span>*</span></label>
          <input type="password" class="form-control" id="inputPassword4">
        </div>
        <div class="col-md-12">
          <label for="inputPassword4" class="form-label">Phone <span>*</span></label>
          <input type="password" class="form-control" id="inputPassword4">
        </div>
        <div class="col-md-12">
          <label for="inputPassword4" class="form-label">Resume <span>*</span></label><br>
          <span style="color: #FF5C5C;"><u>Attach resume</u></span>
        </div>
        <div class="col-md-12">
          <label for="inputState" class="form-label">How would you measure your English level? (Beginner, Intermediate, Advanced, or Native?
          </label>
          <select id="inputState" class="form-select">
            <option selected>Choose...</option>
            <option>Beginner</option>
            <option>Intermediate</option>
            <option>Advanced</option>
            <option>Native</option>
          </select>
        </div>
        <div class="col-md-12">
          <label for="inputState" class="form-label">How did you find out about VirtualWorkWorld?</label>
          <select id="inputState" class="form-select">
            <option selected>-- No answer --</option>
            <option>Facebook</option>
            <option>Instagram</option>
            <option>Job Fair</option>
            <option>other</option>
          </select>
        </div>
        <div class="col-md-12">
          <label for="inputState" class="form-label">What's your schedule availability?</label>
          <select id="inputState" class="form-select">
            <option selected>Choose...</option>
            <option>Morning</option>
            <option>Afternoon</option>
            <option>Evening</option>
            <option>Graveyard</option>
          </select>
        </div>
        <div class="col-md-12">
          <label for="inputPassword4" class="form-label">What are your salary expectations? <span>*</span></label><br>
          <input type="email" class="form-control" id="inputEmail4">
        </div>
        <button type="button" class="btn btn-lg btn-apply">Submit Application</button>
      </form>
    </div>
  </div>
</div>
