.section-heading {
    color: #1B3180;
    height: 250px;
    padding-top: 150px;
}

h5, h1, h3 {
    font-family: 'ABeeZee' !important;
}

h5 {
    color: #6A6A6A;
}

h1, h3 {
    color: #1B3180;
}

.testi-carousel-item .row {
    margin-left: 0;
    margin-right: 0;
}

.testimonial-bg-color div div .card-body {
    background-color: #F5F5F5;
}

.testimonial-nav {
    margin-left: auto;
}

.testimonial-nav button {
    background: none !important;
    border: none;
}

.testi-carousel-item .row div {
    padding-bottom: 0;
}

button.btn.founded-btn-white{
    width: 311px;
    height: 57px;
    border: 2px solid #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 128px;
    font-size: 24px;
    border: 2px solid white;
    color: white;
}
  
button.btn.founded-btn-white:hover{
    color: #32D2CC;
    border: 2px solid #32D2CC
}

.faq .accordion-item .accordion-header .accordion-button{
    background: none;
    color: #1B3180;
}

.faq .accordion-item{
    border: none;
}

.faq .accordion-item .accordion-header{
    border-bottom: 1px solid;
}

.nav-pills li {
    margin: 5px;
    width: 500px;
    border-bottom: 1px solid #F47BFF;
}

.nav-pills li a.active {
    background-color: #F5F5F5;
}

.centered {
    position: relative;
    top: -45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 400;
    font-size: 30px;
    line-height: 110%;
    text-align: center;
    letter-spacing: 0.01em;
  }

.pricing-details .col {
    position: relative;
    text-align: center;
    color: white;
    height: 200px;
} 

.pricing-v2-details {
    align-items: end;
}

.curve-arrow {
    margin-top: 100px;
    margin-left: -200px;
}

.fair-price .col .card {
    background-color: #ECFFD9;
    border-radius: 15px;
}

.fair-price .col {
    margin-top: 20px;
}

.pricing-info {
    height: 500px;
}

.pricing-info .card-body {
    margin: 30px;
}

.trending-up {
    margin-left: 12%;
    position: absolute;
}