<section class="page-section">
    <div class="container text-center section-heading">
        <div class="row">
            <div class="col">
                <h1>Pricing</h1>
            </div>
        </div>
    </div>
    <div>
        <img src="../../../assets/img/employers/pricing-heading.png" class="w-100">
    </div>
    <div class="container mt-5 text-center">
        <h5>Talking money is never an uncomfortable conversation at Virtual Work World. Because with us, you'll spend less for more!<br>
            When you use Virtual Work World, you save up to 70% on hiring costs, and up to 80% on employee salaries per year.<br>
            Plus, there are no hidden fees or upcharges made on salaries once you've made your hire. Every employee you bring onboard is completely yours, ready to take on the world (from wherever they are in the world).
        </h5>
    </div>
</section>
<section class="page-section pt-0">
    <div class="container text-center">
        <div class="row">
            <div class="col">
                <div class="row pricing-details">
                    <div class="col">
                        <img src="../../../assets/img/employers/yellow.png">
                        <div class="centered">Standard<br>Packages</div>
                    </div>
                    <div class="col">
                        <img src="../../../assets/img/employers/yellow.png">
                        <div class="centered">10%<br>off</div>
                    </div>
                    <div class="col">
                        <img src="../../../assets/img/employers/yellow.png">
                        <div class="centered">15%<br>off</div>
                    </div>
                    <div class="col">
                        <img src="../../../assets/img/employers/yellow.png">
                        <div class="centered">25%<br>off</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>1-5 Hires</p>
                    </div>
                    <div class="col">
                        <p>1-5 Hires</p>
                    </div>
                    <div class="col">
                        <p>1-5 Hires</p>
                    </div>
                    <div class="col">
                        <p>1-5 Hires</p>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <h3>🎉 Enterprise Accounts get higher discounts on hires & contracts!</h3>
                    </div>
                </div>
            </div>
            <div class="col-1">
                <img class="curve-arrow" src="../../../assets/img/utilities/curve-arrow.png">
              </div>
          </div>
    </div>
</section>

<section class="page-section pt-0">
    <div class="container text-center">
        <div class="row">
            <h1>Fair prices? Check.</h1>
        </div>
        <div class="row fair-price mt-4">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <img src="../../../assets/img/employers/pricing01.png">
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <img src="../../../assets/img/employers/pricing02.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="row fair-price">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <img src="../../../assets/img/employers/pricing03.png">
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <img src="../../../assets/img/employers/pricing04.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page-section pt-0">
    <div class="container">
        <div class="row">
            <div class="card pricing-info" style="background-color: #FEEFBC;">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h1>Remote Hiring Price</h1>
                            <br>
                            <p>The price to hire is the same for every single role at $1,000 per hire.<br>
                                And the more people you hire, the move you save!<br><br>

                                Packages:
                                <br><br>
                                Tier 1: 1-5 hires at the standard rate.<br>
                                Tier 2: 5-10 hires have a 10% discount on EACH hire!<br>
                                Tier 3: 10-20 hires have a 15% discount on each hire!<br>
                                </p>
                                
                            <button type="button" class="btn founded-btn">Get a quote
                                <i class="fa-solid fa-arrow-right"></i>
                            </button>
                        </div>
                        <div class="col" style="margin-top: -65px;">
                            <img src="../../../assets/img/employers/card_remotestaffing.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 200px;">
            <div class="card pricing-info" style="background-color: #EADCFF;">
                <div class="card-body">
                    <div class="row">
                        <div class="col" style="margin-top: -85px; height: 500px;">
                            <img src="../../../assets/img/employers/card_remotestaffing02.png">
                        </div>
                        <div class="col">
                            <h1>Enterprise Accounts</h1>
                            <br>
                            <p>
                                If you want to hire more than 20 employees, you'll qualify as a Enterprise member, meaning even higher discounts!
                                <br><br>
                                Get in touch now for a free 15-minute consultation via video chat or call. We'll tell you more about what we do and how we can help you. 
                                <br><br>
                                For any of our other services, reach out for your custom quote. It starts with a conversation.
                            </p>
                                
                            <button type="button" class="btn founded-btn">Get a quote
                                <i class="fa-solid fa-arrow-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>