<nav class="navbar navbar-expand-lg navbar-dark fixed-top main-nav" id="mainNav" style="background-color: #1B3180 !important;">
    <div class="container">
        <a class="navbar-brand" href="/">
          <img src="../../../assets/img/logos/vww-logo-white.png" style="position: absolute;
          width: 220px;
          height: 60px;
          top: 10px;">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars ms-1"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                <li class="nav-item">
                    <div ngbDropdown class="d-inline-block">
                        <button type="button" class="btn" id="dropdownBasic1" ngbDropdownToggle>CANDIDATES</button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                          <button ngbDropdownItem><a class="nav-link nav-title" href="/candidates"><span style="color: black;">Candidates</span></a></button>
                          <button ngbDropdownItem><a class="nav-link nav-title" href="/candidates/search"><span style="color: black;">Search</span></a></button>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <div ngbDropdown class="d-inline-block">
                        <button type="button" class="btn" id="dropdownBasic1" ngbDropdownToggle>EMPLOYERS</button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                          <button ngbDropdownItem><a class="nav-link nav-title" href="/employers"><span style="color: black;">Employers</span></a></button>
                          <button ngbDropdownItem><a class="nav-link nav-title" href="/employers/services"><span style="color: black;">Services</span></a></button>
                          <button ngbDropdownItem><a class="nav-link nav-title" href="/employers/pricing"><span style="color: black;">Pricing</span></a></button>
                        </div>
                      </div>
                </li>
                <li class="nav-item"><a class="nav-link nav-title" href="/about">About</a></li>
                <!-- <li class="nav-item"><a class="nav-link nav-title" href="/blog;">Blog</a></li> -->
                <li class="nav-item"><a class="nav-link nav-title" href="/contact">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>

<section class="page-section" id="contact">
    <div class="container">
        <div class="row">
          <div class="col" style="text-align: start;">
            <img src="../../../assets/img/logos/vww-logo-white.png">
            <div class="row mt-4">
              <div class="col">
                Candidates
              </div>
              <div class="col">
                Employers
              </div>
              <div class="col">
                Company
              </div>
            </div>
            <div class="row mt-4">
              <div class="col">
                Why apply
              </div>
              <div class="col">
                Why work for us
              </div>
              <div class="col">
                about
              </div>
            </div>
            <div class="row mt-4">
              <div class="col">
                Search Jobs
              </div>
              <div class="col">
                Employer services
              </div>
              <div class="col">
                Blog
              </div>
            </div>
            <div class="row mt-4">
              <div class="col">
              </div>
              <div class="col">
                Pricing
              </div>
              <div class="col">
                Contact
              </div>
            </div>
          </div>
          <div class="col" style="text-align: center;">
            <div class="row" style="padding-top: 85px;">
              <div class="col">
                Subscribe to our newsletter
              </div>
              <div class="row mt-4" style="text-align: -webkit-center; margin-left: 20%;">
                <div class="col">
                  <div class="input-group input-group-lg w-75">
                    <input type="text" class="form-control" aria-label="Sizing example input" placeholder="Enter your email address here" aria-describedby="inputGroup-sizing-lg">
                  </div>
                </div>
              </div>
              <div class="row mt-4">
                <div class="col">
                  <button type="button" class="btn contact-submit-btn">Subscribe</button>
                </div>
              </div>
              <div class="row mt-5">
                <div class="col">
                  Follow us on social media
                </div>
              </div>
              <div class="row mt-3">
                <div class="col" style="margin-left: 15px;">
                  <a href="https://www.facebook.com/groups/virtualworkworld" target="_blank"><img src="../../../assets/img/logos/Facebook.png" class="me-3"></a>
                  <a href="https://www.linkedin.com/in/virtualworkworld/" target="_blank"><img src="../../../assets/img/logos/Linkedin.png" class="me-3"></a>
                  <a href="https://www.instagram.com/virtualworkworld/" target="_blank"><img src="../../../assets/img/logos/Instagram.png" class="me-3"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</section>  