<section class="page-section">
    <div class="container text-center section-heading">
        <div class="row">
            <div class="col">
                <h1>Candidates</h1>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                <h4>Work from anywhere, but don't settle for less</h4>
            </div>
        </div>
    </div>
    <div class="container">
        <img src="../../../assets/img/candidates/section-heading.png" class="w-100">
    </div>
    <div class="container mt-5">
        <h5>Just because you're out of sight, doesn't mean you should be out of mind.
            That's why we work closely with every employer we bring on board,
            so you can feel confident that you'll be paid fairly and treated fairly in any remote role you choose.
            Browse hundreds of remote roles from trusted employers worldwide.
        </h5>
        <div class="text-center">
            <button type="button" class="btn founded-btn text">Find your role.
            <i class="fa-solid fa-arrow-right"></i>
            </button>
        </div>
    </div>
</section>
<section class="page-section mt-5">
    <div class="container pb-4 text-center">
        <h1>Why we'll work for you</h1>
    </div>
    <div class="container" style="max-width: 1600px;">
        <div class="row text-center">
          <div id="descriptionCarousel" class="carousel slide" data-bs-ride="true">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#descriptionCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#descriptionCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#descriptionCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#descriptionCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
              <button type="button" data-bs-target="#descriptionCarousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
            </div>

            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row align-items-start">
                  <img src="../../../assets/img/about/desc-01.png">
                </div>
              </div>
              <div class="carousel-item">
                <div class="row align-items-start">
                  <img src="../../../assets/img/about/desc-02.png">
                </div>
              </div>
              
              <div class="carousel-item">
                <div class="row align-items-start">
                  <img src="../../../assets/img/about/desc-03.png">
                </div>
              </div>
              <div class="carousel-item">
                <div class="row align-items-start">
                  <img src="../../../assets/img/about/desc-04.png">
                </div>
              </div>
              <div class="carousel-item">
                <div class="row align-items-start">
                  <img src="../../../assets/img/about/desc-05.png">
                </div>
              </div>
            </div>
    
            <button class="carousel-control-prev" type="button" data-bs-target="#descriptionCarousel" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#descriptionCarousel" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
      </div>
    </div>
</section>
<section class="page-section mt-5">
    <div class="container pb-4 text-center">
        <h1>What you had to say</h1>
        <h5>We've helped so many job seekers secure roles and reach their potential all around the world.</h5>
        <ul ngbNav #nav="ngbNav" class="nav-tabs testimonial-container">
            <li [ngbNavItem]="1">
              <ng-template ngbNavContent>
                <div id="testimonialCarousel" class="carousel slide" data-bs-ride="true">
                  <div class="carousel-inner">
                    <div class="testi-carousel-item carousel-item active">
                      <div class="row testimonial-bg-color">
                        <div class="col">
                          <div class="card">
                            <div class="card-body">
                              <div class="d-flex justify-content-center mb-4">
                                <img src="assets/img/testimonials/test01.jpg"
                                  class="rounded-circle shadow-1-strong" width="150" height="150" />
                              </div>
                              <h5 class="mb-3">Nazireh Reis</h5>
                              <p class="px-xl-3">
                                <i class="fas fa-quote-left pe-2"></i>I would recommend this service 1000%.
                                I just landed a remote work job thanks to the foresight and awesome support of this team. 👏 I had gotten fed up of being stuck in traffic, stressed with zero work/life balance, hours wasted in travelling...solution, remote work!
                                Kudos to Mrs. Jisselle for her selfless service. I'm convinced and won over....here's to a new chapter of me! Follow them and stay up to date and proative with your recruitment. You won't regret it!
                                <i class="fas fa-quote-right pe-2"></i>
                              </p>
                              <ul class="list-unstyled d-flex justify-content-center mb-0">
                                <li>
                                  <i class="fas fa-star fa-sm text-warning"></i>
                                </li>
                                <li>
                                  <i class="fas fa-star fa-sm text-warning"></i>
                                </li>
                                <li>
                                  <i class="fas fa-star fa-sm text-warning"></i>
                                </li>
                                <li>
                                  <i class="fas fa-star fa-sm text-warning"></i>
                                </li>
                                <li>
                                  <i class="fas fa-star fa-sm text-warning"></i>
                                </li>
                              </ul>
                            </div>
                          </div>              
                        </div>
                        <div class="col">
                          <div class="card">
                            <div class="card-body">
                              <div class="d-flex justify-content-center mb-4">
                                <img src="assets/img/testimonials/test02.jpg"
                                  class="rounded-circle shadow-1-strong" width="150" height="150" />
                              </div>
                              <h5 class="mb-3">Wendy Rampersad</h5>
                              <p class="px-xl-3">
                                <i class="fas fa-quote-left pe-2"></i>A dynamic team, both Jisselle and Ashley epitomize professionalism and teamwork and are truly exemplars in the virtual work world.  
                                With their unique, refreshing personal styles in interacting with the client, one is left with a sense of confidence and reassurance towards advancing one's career.                                                                                 I highly recommend this awesome team to anyone determined to transform their lives from the humdrum of a 9-5 to literally working ANYWHERE in the WORLD!                                                                              I am very excited that I connected with them and look forward to only success stories ahead.                      
                                Thank you, Team Virtual Work World, for paying it forward.  I am motivated to one day do the same.
                                <i class="fas fa-quote-right pe-2"></i>
                              </p>
                              <ul class="list-unstyled d-flex justify-content-center mb-0">
                                <li>
                                  <i class="fas fa-star fa-sm text-warning"></i>
                                </li>
                                <li>
                                  <i class="fas fa-star fa-sm text-warning"></i>
                                </li>
                                <li>
                                  <i class="fas fa-star fa-sm text-warning"></i>
                                </li>
                                <li>
                                  <i class="fas fa-star fa-sm text-warning"></i>
                                </li>
                                <li>
                                  <i class="fas fa-star fa-sm text-warning"></i>
                                </li>
                              </ul>
                            </div>
                          </div>              
                        </div>
                        <div class="col">
                          <div class="card">
                            <div class="card-body">
                              <div class="d-flex justify-content-center mb-4">
                                <img src="assets/img/testimonials/test03.jpg"
                                  class="rounded-circle shadow-1-strong" width="150" height="150" />
                              </div>
                              <h5 class="mb-3">Ja Ne</h5>
                              <p class="px-xl-3">
                                <i class="fas fa-quote-left pe-2"></i>There's an old saying about the difference between a manager and a leader, "Managers do things right. Leaders do the right things." And you are both! You inspire people around you to push themselves and I am grateful for your help in finding me a job that suits me. Thank you for leading us so well. You're the best!!! 🙌🙌🙌💜💜💜
                                <i class="fas fa-quote-right pe-2"></i>
                              </p>
                              <ul class="list-unstyled d-flex justify-content-center mb-0">
                                <li>
                                  <i class="fas fa-star fa-sm text-warning"></i>
                                </li>
                                <li>
                                  <i class="fas fa-star fa-sm text-warning"></i>
                                </li>
                                <li>
                                  <i class="fas fa-star fa-sm text-warning"></i>
                                </li>
                                <li>
                                  <i class="fas fa-star fa-sm text-warning"></i>
                                </li>
                                <li>
                                  <i class="fas fa-star fa-sm text-warning"></i>
                                </li>
                              </ul>
                            </div>
                          </div>              
                        </div>
                      </div>
                    </div>
                    <div class="testi-carousel-item carousel-item">
                      <div class="row testimonial-bg-color">
                        <div class="col">
                          <div class="card">
                            <div class="card-body">
                              <div class="d-flex justify-content-center mb-4">
                                <img src="assets/img/testimonials/test05.jpg"
                                  class="rounded-circle shadow-1-strong" width="150" height="150"/>
                              </div>
                              <h5 class="mb-3">Aisha Jones</h5>
                              <p class="px-xl-3">
                                <i class="fas fa-quote-left pe-2"></i>I would just like to thank Jisselle Baldwin-Todd and the the VWWC fam for helping me land an amazing opportunity!!! The process is real and WFH opportunities are tangible #letsgetit
                                <i class="fas fa-quote-right pe-2"></i>
                              </p>
                              <ul class="list-unstyled d-flex justify-content-center mb-0">
                                <li>
                                  <i class="fas fa-star fa-sm text-warning"></i>
                                </li>
                                <li>
                                  <i class="fas fa-star fa-sm text-warning"></i>
                                </li>
                                <li>
                                  <i class="fas fa-star fa-sm text-warning"></i>
                                </li>
                                <li>
                                  <i class="fas fa-star fa-sm text-warning"></i>
                                </li>
                                <li>
                                  <i class="fas fa-star fa-sm text-warning"></i>
                                </li>
                              </ul>
                            </div>
                          </div>              
                        </div>
                        <div class="col">
                          <div class="card">
                            <div class="card-body">
                              <div class="d-flex justify-content-center mb-4">
                                <img src="assets/img/testimonials/test04.jpg"
                                  class="rounded-circle shadow-1-strong" width="150" height="150" />
                              </div>
                              <h5 class="mb-3">Thalia BW</h5>
                              <p class="px-xl-3">
                                <i class="fas fa-quote-left pe-2"></i>Guess what!!!
                                I got a part time wfh job!!
                                Jisselle thank you for offering me the opportunity! I sincerely appreciate the time you took to explain the process, your consideration and guidance.
                                The process works people!!!!
                                <i class="fas fa-quote-right pe-2"></i>
                              </p>
                              <ul class="list-unstyled d-flex justify-content-center mb-0">
                                <li>
                                  <i class="fas fa-star fa-sm text-warning"></i>
                                </li>
                                <li>
                                  <i class="fas fa-star fa-sm text-warning"></i>
                                </li>
                                <li>
                                  <i class="fas fa-star fa-sm text-warning"></i>
                                </li>
                                <li>
                                  <i class="fas fa-star fa-sm text-warning"></i>
                                </li>
                                <li>
                                  <i class="fas fa-star fa-sm text-warning"></i>
                                </li>
                              </ul>
                            </div>
                          </div>              
                        </div>
                        <div class="col">
                          <div class="card">
                            <div class="card-body">
                              <div class="d-flex justify-content-center mb-4">
                                <img src="assets/img/testimonials/test06.jpg"
                                  class="rounded-circle shadow-1-strong" width="150" height="150" />
                              </div>
                              <h5 class="mb-3">Renai Paria</h5>
                              <p class="px-xl-3">
                                <i class="fas fa-quote-left pe-2"></i>Jisselle I want to thank you so much,you're an amazing person & great career advisor, been wanting a WFH job all my life & finally thanks to you and your team I will be starting my dream job next month.
                                #remoteworking #WFH #amazingwomen #dreamsdocometrue
                                <i class="fas fa-quote-right pe-2"></i>
                              </p>
                              <ul class="list-unstyled d-flex justify-content-center mb-0">
                                <li>
                                  <i class="fas fa-star fa-sm text-warning"></i>
                                </li>
                                <li>
                                  <i class="fas fa-star fa-sm text-warning"></i>
                                </li>
                                <li>
                                  <i class="fas fa-star fa-sm text-warning"></i>
                                </li>
                                <li>
                                  <i class="fas fa-star fa-sm text-warning"></i>
                                </li>
                                <li>
                                  <i class="fas fa-star fa-sm text-warning"></i>
                                </li>
                              </ul>
                            </div>
                          </div>              
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </li>
            <li class="testimonial-nav pb-3">
              <button class="" type="button" data-bs-target="#testimonialCarousel" data-bs-slide="prev">
                <img src="../../../assets/img/utilities/arrow-left.png" width="100%">
              </button>
              <button>
                <img src="../../../assets/img/utilities/dot.png" width="100%">
              </button>
              <button class="" type="button" data-bs-target="#testimonialCarousel" data-bs-slide="next">
                <img src="../../../assets/img/utilities/arrow-right.png" width="100%">
              </button>
            </li>
          </ul>
          <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
</section>

<section class="page-section mt-5">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="founded" style="text-align: center;">Jobs</h2>
      </div>
    </div>
    <div class="row jobs">
      <div class="col-6">
        <div class="card first">
          <div class="card-body">
            <div class="row">
                <div class="col-2 text-center pt-2">
                  <a routerLink="/candidates/jobs" target="_blank">
                    <img src="../../../assets/img/jobs/bank.png">
                  </a>
                </div>
                <div class="col-10">
                  <div class="row">
                    <div class="col">
                      Accounting & Finance
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      Sample Position A
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>              
      </div>
      <div class="col-6">
        <div class="card second">
          <div class="card-body">
            <div class="row">
                <div class="col-2 text-center pt-2">
                  <a routerLink="/candidates/jobs" target="_blank">
                    <img src="../../../assets/img/jobs/chat-dots.png">
                  </a>
                </div>
                <div class="col-10">
                  <div class="row">
                    <div class="col">
                      Accounting & Finance
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      Sample Position A
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>              
      </div>
      <div class="col-6 mt-4">
        <div class="card third">
          <div class="card-body">
            <div class="row">
                <div class="col-2 text-center pt-2">
                  <a routerLink="/candidates/jobs" target="_blank">
                    <img src="../../../assets/img/jobs/palette.png">
                  </a>
                </div>
                <div class="col-10">
                  <div class="row">
                    <div class="col">
                      Accounting & Finance
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      Sample Position A
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>              
      </div>
      <div class="col-6 mt-4">
        <div class="card fourth">
          <div class="card-body">
            <div class="row">
                <div class="col-2 text-center pt-2">
                  <a routerLink="/candidates/jobs" target="_blank">
                    <img src="../../../assets/img/jobs/clipboard-data.png">
                  </a>
                </div>
                <div class="col-10">
                  <div class="row">
                    <div class="col">
                      Accounting & Finance
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      Sample Position A
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>              
      </div>
      <div class="col-6 mt-4">
        <div class="card second">
          <div class="card-body">
            <div class="row">
                <div class="col-2 text-center pt-2">
                  <a routerLink="/candidates/jobs" target="_blank">
                    <img src="../../../assets/img/jobs/laptop.png">
                  </a>
                </div>
                <div class="col-10">
                  <div class="row">
                    <div class="col">
                      Accounting & Finance
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      Sample Position A
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>              
      </div>
      <div class="col-6 mt-4">
        <div class="card third">
          <div class="card-body">
            <div class="row">
                <div class="col-2 text-center pt-2">
                  <a routerLink="/candidates/jobs" target="_blank">
                    <img src="../../../assets/img/jobs/cart-check.png">
                  </a>
                </div>
                <div class="col-10">
                  <div class="row">
                    <div class="col">
                      Accounting & Finance
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      Sample Position A
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>              
      </div>
      <div class="col-6 mt-4">
        <div class="card fourth">
          <div class="card-body">
            <div class="row">
                <div class="col-2 text-center pt-2">
                  <a routerLink="/candidates/jobs" target="_blank">
                    <img src="../../../assets/img/jobs/people.png">
                  </a>
                </div>
                <div class="col-10">
                  <div class="row">
                    <div class="col">
                      Accounting & Finance
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      Sample Position A
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>              
      </div>
      <div class="col-6 mt-4">
        <div class="card first">
          <div class="card-body">
            <div class="row">
                <div class="col-2 text-center pt-2">
                  <a routerLink="/candidates/jobs" target="_blank">
                    <img src="../../../assets/img/jobs/receipt.png">
                  </a>
                </div>
                <div class="col-10">
                  <div class="row">
                    <div class="col">
                      Accounting & Finance
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      Sample Position A
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>              
      </div>
      <div class="col-6 mt-4">
        <div class="card first">
          <div class="card-body">
            <div class="row">
                <div class="col-2 text-center pt-2">
                  <a routerLink="/candidates/jobs" target="_blank">
                    <img src="../../../assets/img/jobs/truck.png">
                  </a>
                </div>
                <div class="col-10">
                  <div class="row">
                    <div class="col">
                      Accounting & Finance
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      Sample Position A
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>              
      </div>
      <div class="col-6 mt-4">
        <div class="card second">
          <div class="card-body">
            <div class="row">
                <div class="col-2 text-center pt-2">
                  <a routerLink="/candidates/jobs" target="_blank">
                    <img src="../../../assets/img/jobs/code-square.png">
                  </a>
                </div>
                <div class="col-10">
                  <div class="row">
                    <div class="col">
                      Accounting & Finance
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      Sample Position A
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>              
      </div>
      <div class="col-6 mt-4">
        <div class="card third">
          <div class="card-body">
            <div class="row">
                <div class="col-2 text-center pt-2">
                  <a routerLink="/candidates/jobs" target="_blank">
                    <img src="../../../assets/img/jobs/cpu.png">
                  </a>
                </div>
                <div class="col-10">
                  <div class="row">
                    <div class="col">
                      Accounting & Finance
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      Sample Position A
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>              
      </div>
      <div class="col-6 mt-4">
        <div class="card fourth">
          <div class="card-body">
            <div class="row">
                <div class="col-2 text-center pt-2">
                  <a routerLink="/candidates/jobs" target="_blank">
                    <img src="../../../assets/img/jobs/globe.png">
                  </a>
                </div>
                <div class="col-10">
                  <div class="row">
                    <div class="col">
                      Accounting & Finance
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      Sample Position A
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>              
      </div>
    </div>
    
    <div class="text-center mt-3">
      <a routerLink="/candidates/search" target="_blank">
        <button type="button" class="btn founded-btn">Search jobs
        <i class="fa-solid fa-arrow-right"></i>
        </button>
      </a>
    </div>
  </div>
</section>

<section class="page-section mt-5" style="background-color: #1B3180;">
    <div class="container mt-3 mb-3">
        <div class="row text-center">
            <h1 style="color: white">
                We do the hard work so you don't have to. Get in touch with our team today to land the remote job that works for you.
            </h1>
        </div>
        <div class="text-center mt-3">
            <button type="button" class="btn founded-btn-white">Get in touch
                <i class="fa-solid fa-arrow-right"></i>
            </button>
        </div>
    </div>
</section>

<section class="page-section mt-5">
    <div class="container">
        <div class="row text-center">
            <h1>
                Frequently Asked Questions
            </h1>
        </div>
        <div class="row mt-3">
            <div class="accordion faq" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Can I apply from anywhere?
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <p>Yes! Virtual Work World links employers with candidates internationally. There are no limits on location.</p>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Do you help with the application process?
                    </button>
                  </h2>
                  <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <p>Sample Text 001</p>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFour">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                          Can I apply for more than one job?
                      </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <p>Sample Text 003</p>
                      </div>
                    </div>
                  </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingSix">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseThree">
                        Do you send job alerts?
                        </button>
                    </h2>
                    <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p>Sample Text 004</p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingSeven">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseThree">
                        Will I still be able to apply for other jobs once I have been hired through Virtual Work World?
                        </button>
                    </h2>
                    <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p>Sample Text 005</p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingEight">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseThree">
                            What happens if there's a problem with my new employer?
                        </button>
                    </h2>
                    <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p>Sample Text 006</p>
                        </div>
                    </div>
                </div>
              </div>
        </div>
    </div>
</section>
