.navbar-nav li a {
    color: white !important;
}

.section-heading {
    color: #1B3180;
    height: 350px;
    padding-top: 150px;
}

.section-heading {
    color: #1B3180;
}

h5 {
    color: #6A6A6A;
}

h1 {
    color: #1B3180;
}

.pt-0 {
    padding-top: 0;
}

.see-more {
    cursor: pointer;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    text-decoration-line: underline;
    color: #1B3180;
}

.testi-carousel-item .row {
    margin-left: 0;
    margin-right: 0;
}

.testimonial-bg-color div .card {
    padding: 30px;
    gap: 10px;
    background-color: #F5F5F5;
    border: none;
    border-radius: 15px;
}

.testimonial-bg-color div .card .card-body p {
    font-family: 'ABeeZee' !important;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    color: #6A6A6A;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.testimonial-nav {
    margin-left: auto;
}

.testimonial-nav button {
    background: none !important;
    border: none;
}

.testi-carousel-item .row div {
    padding-bottom: 5px;
}

button.btn.founded-btn-white{
    width: 311px;
    height: 57px;
    border: 2px solid #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 128px;
    font-size: 24px;
    border: 2px solid white;
    color: white;
}
  
button.btn.founded-btn-white:hover{
    color: #32D2CC;
    border: 2px solid #32D2CC
}

.faq .accordion-item .accordion-header .accordion-button{
    background: none;
    color: #1B3180;
}

.faq .accordion-item{
    border: none;
}

.faq .accordion-item .accordion-header{
    border-bottom: 1px solid;
}

.see-more {
    cursor: pointer;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    text-decoration-line: underline;
    color: #1B3180;
}

.candidate-section h1, h4, h5 {
    font-family: 'ABeeZee' !important;
}

.candidate-section h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #1B3180;
    margin-bottom: 2.5rem;
}

.candidate-section h5 {
    width: 100%;
    height: 25px;
    left: 121px;
    top: 173px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    color: #6A6A6A;
}

.candidate-section h4 {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    color: #1B3180;
    flex: none;
    order: 0;
    flex-grow: 1;
}

.testimonial-container {
    border: none;
}

.jobs .card {
    height: 100%;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 30px 10px 20px;
    gap: 15px;
    margin-top: 2rem;
}

.jobs .card-body {
    height: auto;
}

.card img {
    width: auto;
    display: block;
    margin: 0 auto;
}

.title h5 {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    align-items: center;
    text-align: center;
    color: #1B3180;
}

.content span {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 110%;
    display: flex;
    text-align: center;
    color: #1B3180; 
    justify-content: center;   
}

.admin {
    background-color: #E0F8F7;
    border: 2px solid #88DDDC;
}

.customer {
    background-color: #FAEFBE;
    border: 2px solid #E7C02B;
}

.creative {
    background-color: #F2CEFE;
    border: 2px solid #E186FC;
}

.engineering {
    background-color: #E7DDFE;
    border: 2px solid #A884FC;
}

  
@media only screen and (max-width: 600px) {
    .intro {
        font-size: 25px;
    }
    
    .services div.card {
        width: 90%;
        margin: auto;
    }

    .found-sm {
        margin-top: 2rem;
    }
    
    .col-3 {
        width: 50%;
    }

    .tech-title {
        font-size: 30px;
    }

    .tech-stack-blurb {
        font-size: 16px;
        padding: 0 25px 0 25px;
    }

    .title h5 {
        font-size: 16px;
    }
    
    .content span {
        font-size: 14px; 
    }

    .jobs .card {
        padding: 20px 0 0 0;
    }

    .be-part-comm {
        margin-top: -80px;
        padding: 0 20px 0 20px;
    }

    .be-part-comm h1 {
        font-size: 22px;
    }
    
    .be-part-comm p {
        font-size: 12px;
    }

    .trusted-inner img {
        width: 90%;
        margin: auto;
    }

    .founded-small {
        padding: 0 30px 0 30px;
    }
    
    .animated-header-bg {
        height: 150px;
    }

    .bounce-01 {
        margin: 0 0 0 -34px;
    }

    .bounce-02 {
        margin: 0 0 0 25%;
    }

    .bounce-03 {
        margin: 0 0 0 15%;
    }

    .bounce-04 {
        margin: 0 0 0 10%;
    }

    .animated-header-bg img {
        width: 25%;
    }

    .client img {
        width: 100%;
    }

    .client-solutions-section {
        padding: 0
    }

    .founded {
        font-size: 25px;
    }
    
    .carousel-item img {
        width: 90%;
        margin: auto;
    }
}