<section class="page-section">
    <div class="container text-center section-heading">
        <h1>Blog</h1>
    </div>
    <div class="container pt-0">
        <div class="row">
            <div class="col-4">
                <div class="card pricing-info" style="background-color: #FBCBFF; width: 600px; height: 400px; margin-top: 95px; 
                border-radius: 15px;">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <p>FEATURED</p>
                                <h1>How to Answer "What Is Your Greatest Strength"?</h1>
                                <br>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                                <a href="/blog/full">
                                    <button type="button" class="btn founded-btn mt-3">Read more
                                        <i class="fa-solid fa-arrow-right"></i>
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-8">
                <img src="../../../assets/img/blog/section-heading.png">
            </div>
        </div>
    </div>
</section>

<section class="page-section pt-0">
    <div class="container pb-4">
        <div class="row blog-line">
            <div class="col">
                <h1>Hiring</h1>
            </div>
            <div class="col" style="text-align: end;">
                <a href="/blog/list">
                <button type="button" class="btn blog-btn">SEE ALL
                    <i class="fa-solid fa-arrow-right"></i>
                </button>
                </a>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <img src="../../../assets/img/blog/card_remotestaffing.png">
                      <h5 class="card-text">Insert Blog Title Here</h5>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <img src="../../../assets/img/blog/card_drafting.png">
                      <h5 class="card-text">Insert Blog Title Here</h5>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <img src="../../../assets/img/blog/card_additionalservices.png">
                      <h5 class="card-text">Insert Blog Title Here</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container pb-4">
        <div class="row blog-line">
            <div class="col">
                <h1>Career</h1>
            </div>
            <div class="col" style="text-align: end;">
                <a href="/blog/list">
                <button type="button" class="btn blog-btn">SEE ALL
                    <i class="fa-solid fa-arrow-right"></i>
                </button>
                </a>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <img src="../../../assets/img/blog/card_001.png">
                      <h5 class="card-text">Insert Blog Title Here</h5>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <img src="../../../assets/img/blog/card_002.png">
                      <h5 class="card-text">Insert Blog Title Here</h5>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <img src="../../../assets/img/blog/card_003.png">
                      <h5 class="card-text">Insert Blog Title Here</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container pb-4">
        <div class="row blog-line">
            <div class="col">
                <h1>Remote Working</h1>
            </div>
            <div class="col" style="text-align: end;">
                <a href="/blog/list">
                <button type="button" class="btn blog-btn">SEE ALL
                    <i class="fa-solid fa-arrow-right"></i>
                </button>
                </a>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <img src="../../../assets/img/blog/card_004.png">
                      <h5 class="card-text">Insert Blog Title Here</h5>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <img src="../../../assets/img/blog/card_005.png">
                      <h5 class="card-text">Insert Blog Title Here</h5>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <img src="../../../assets/img/blog/card_006.png">
                      <h5 class="card-text">Insert Blog Title Here</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container pb-4">
        <div class="row blog-line">
            <div class="col">
                <h1>Productivity</h1>
            </div>
            <div class="col" style="text-align: end;">
                <a href="/blog/list">
                <button type="button" class="btn blog-btn">SEE ALL
                    <i class="fa-solid fa-arrow-right"></i>
                </button>
                </a>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <img src="../../../assets/img/blog/card_007.png">
                      <h5 class="card-text">Insert Blog Title Here</h5>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <img src="../../../assets/img/blog/card_008.png">
                      <h5 class="card-text">Insert Blog Title Here</h5>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <img src="../../../assets/img/blog/card_009.png">
                      <h5 class="card-text">Insert Blog Title Here</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container pb-4">
        <div class="row blog-line">
            <div class="col">
                <h1>News and Updates</h1>
            </div>
            <div class="col" style="text-align: end;">
                <a href="/blog/list">
                <button type="button" class="btn blog-btn">SEE ALL
                    <i class="fa-solid fa-arrow-right"></i>
                </button>
                </a>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <img src="../../../assets/img/blog/card_010.png">
                      <h5 class="card-text">Insert Blog Title Here</h5>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <img src="../../../assets/img/blog/card_011.png">
                      <h5 class="card-text">Insert Blog Title Here</h5>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <img src="../../../assets/img/blog/card_012.png">
                      <h5 class="card-text">Insert Blog Title Here</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>