ul li {
  border: none;
}

.mr-neg-80 {
  margin-right: -80%;
}

i.fas {
  color: black;
}
.bg-custom {
  background-color: #f0ecfc;
	background-image: linear-gradient(315deg, #f0ecfc 0%, #c797eb 74%);
}

.work {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
		-webkit-tap-highlight-color: transparent;
}

button.work.cust {
	background-color: blue;
}

.responsive-width {
  font-size: 3vw;
}

button.work.freel{
	background-color: yellow;
}

@media (min-width:801px) and (min-width:1025px) and (min-width:1281px)  {
  button.work.cust {
    width: 70%;
  }
  button.work.freel{
    width: 70%;
  }
}

button.work.freel span{
	color: black;
}

button.work {
	width: 300px;
	height: 100px;
	cursor: pointer;
	border: 0px solid #5b3f69;
	background: #34283b;
	transition: 200ms;
  border-radius: 15px;
}

button.work span {
	position: absolute;
	transform: translateX(-50%) translateY(-50%);
	font-family: 'Berkshire Swash', cursive;
	font-size: 30px;
	color: #f0ecfc;
	transition: 500ms;
}

button.work::before, button.work::after {
	content: '';
	position: absolute;
	margin-left: -75px;
	margin-top: -25px;
	width: 140px;
	height: 40px;
	z-index: -1;
}

button.work::before {
	border: 5px solid #7e5791;
	transition: 200ms;
}

button.work::after {
	border: 5px solid #b37ccf;
	transition: 500ms;
}

button.work:hover {
	border: 5px solid #5b3f69;
}

button.work:hover span {
	letter-spacing: 4px;
	font-size: 20px;
}

button.work:hover::before {
	width: 150px;
	height: 50px;
	margin-left: -80px;
	margin-top: -30px;
}

button.work:hover::after {
	width: 160px;
	height: 60px;
	margin-left: -85px;
	margin-top: -35px;
}

button.work:focus {
	outline: none;
}

.banner .col img {
  width: 20%;
  height: auto;
  margin-left: 20px;
}

.list-group {
  --bs-list-group-bg:  none;
}

.nav-title {
  font-weight: bolder;
}

.marquee {
  height: 150px;
  overflow: hidden;
}

.marquee-content {
  // margin-left: -1000px;
  display: flex;
  list-style: none;
  animation: scrolling 288s linear infinite;
}

.marquee-item {
  height: 150px;
  width: 200px;
  flex-shrink: 0;
  margin-right: 10px;
}

.marquee-image {
  width: 100%;
  height: auto;
}

@keyframes scrolling {
  0% { transform: translateX(0); }
  100% { transform: translateX(-15000px); }
}

.carousel-item .row {
  margin-left: 200px;
  margin-right: 200px;
}

.carousel-item .row div {
  padding-bottom: 30px;
}

.carousel-item div div img {
  width: 50%;
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}

.carousel-indicators button {
  background-color: grey;
}

.carousel-indicators .active {
  background-color: black;
}

.carousel-indicators {
  margin-bottom: -3rem !important;
}

@media (max-width:801px) {
  .carousel-item .row {
    margin-left: 0px;
    margin-right: 0px;
  }
}

h1, h2, h3, h4, h5 {
  font-family: Anton,Arial,sans-serif;
}

.section-heading {
  font-family: Anton,Arial,sans-serif;
  font-size: 52px;
  margin: 0px 250px;
  color: #0a175c;
}

.sub-heading {
  color: #1c2653;
}

.heading-summary{
  color: #1c2653;
  margin: 0px 200px;
}

@media (max-width:801px) {
  .section-heading, .heading-summary {
    margin: 0px;
  }

  header.masthead {
    height: 1150px !important;
  }
}

.job-nav {
  background-color: #c797eb;
  height: 250px;
}

.job-title-desc {
  margin-top: 8rem;
  margin-bottom: 5rem;
  justify-content: center;
}

.job-title {
  color: #0A175C;
  font-size: 60px;
  font-weight: bolder;
}

.job-apply-btn {
  height: 60px;
  width: 20%;
  border-radius: 100px;
}

.job-header {
  border: 1px solid;
  border-radius: 20px;
  height: 120px;
  position: relative;
  background-color: #ececec;
  box-shadow: -5px 11px #a5a1a1;
  position: relative;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.job-overview {
  margin-top: -3rem;
  border: 1px solid;
  width: 60%;
  position: relative;
  background-color: #ececec;
  text-align: justify;
}

.job-opening{
  margin-top: -3rem;
  border: 1px solid;
  width: 60%;
  position: relative;
  background-color: #ececec;
  text-align: justify;
  border: none;
  border-radius: 30px;
  padding: 10px;
}

.job-summary {
  color: #0A175C;
}

form div label span {
  color: red;
}

.btn-apply {
  background-color: #0A175C;
  color: white;
  height: 60px;
  border-radius: 100px;
  width: 100%;
}

/* 
**
  JOBS
**
*/
