.section-heading {
    color: #1B3180;
    height: 350px;
    padding-top: 150px;
}

.section-heading {
    color: #1B3180;
}

h5 {
    color: #6A6A6A;
}

h1, h2 {
    color: #1B3180;
}

.pt-0 {
    padding-top: 0;
}

.carousel-item div .card {
    background-color: #F5F5F5;
}

.carousel-item div div img {
    width: auto !important;
}

.carousel-item .row div {
    padding-bottom: 0;
}

.card-body h2  {
    text-align: start; 
}

.card-body p  {
    text-align: justify; 
}